.signup-staff {
  &__success {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    width: 90%;
    margin: 0.5rem auto;
    color: forestgreen;
    background-color: rgba(34, 139, 34, 0.4);
    border-radius: 6px;
    text-align: center;
  }
  &__container {
    padding: 1rem;
    box-shadow: $box-shadow-default;
    border: solid 1px $grey2;
    border-radius: 6px;
    margin: 0 auto;
    background-color: $white;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
  }
  &__column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
  }
  &__row {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    label {
      font-size: $size-base;
      font-weight: bold;
      margin-bottom: 0.25rem;
    }
    input,
    select {
      font-size: $size-base;
      width: 100%;
    }
  }
  &__image {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    gap: 0.5rem;
    img {
      max-width: 200px;
    }
    input[type="file"] {
      padding: 0;
      width: auto;
      &::-webkit-file-upload-button {
        cursor: pointer;
      }
    }
  }
  &__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    margin-top: 1rem;
  }
}

@media (min-width: 768px) {
  .signup-staff__form {
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }
  .signup-staff__column {
    width: 50%;
    justify-content: flex-start;
  }
}

@media (min-width: 1024px) {
  .signup-staff__row {
    label,
    input,
    select,
    input[type="file"] {
      font-size: $size-sm;
    }
  }
}
