.sites__err {
  padding: 10px 20px;
  font-size: 0.9rem;
  width: 100%;
  margin: 10px auto;
  color: red;
  background-color: rgba(255, 0, 0, 0.403);
  border-radius: 6px;
  text-align: center;
}
.sites__table-container {
  width: 98%;
  height: 88%;
  margin: 0 auto;
  overflow: scroll;
  border-radius: 6px;
  box-shadow: $box-shadow-default;
  position: relative;

  table {
    table-layout: fixed;
    min-width: 100%;
    border-collapse: collapse;
    font-size: 0.8rem;
    thead {
      position: sticky;
      top: 0;
      background: $blue;
      border-radius: 6px;
      th {
        min-width: 120px;
        padding: 10px;
        cursor: pointer;
        &:nth-child(1) {
          min-width: 80px;
        }
        &:nth-child(9) {
          min-width: 170px;
        }
        &:nth-child(11) {
          min-width: 220px;
        }
      }
    }
    tbody {
      tr {
        border-bottom: solid 1px $grey;
        td {
          text-align: center;
          padding: 10px;
          word-break: break-word;
        }
      }
    }
  }
}
.site-item {
  &__btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      margin-left: 5px;
    }
  }
}
