.billing {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.billing__btn {
  text-align: center;
  margin-bottom: 1rem;
}
.billing__form {
  max-width: 940px;
  background-color: $white;
  width: 100%;
  margin: 1rem auto;
  border: solid 1px $grey2;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: $box-shadow-default;
  .billing__form-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 1.5rem;
    row-gap: 1rem;
  }
  .billing__form-item {
    display: flex;
    flex-direction: column;
    label {
      font-weight: bold;
      margin-bottom: 0.25em;
      font-size: $size-base;
    }
    input,
    select,
    textarea {
      width: 100%;
      font-size: $size-base;
    }
  }
  .billing__form-btns {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
  }
}

.billing__filter {
  margin: 0 auto 1rem;
  border: solid 1px $grey2;
  border-radius: 6px;
  padding: 1rem;
  width: 100%;
  max-width: 940px;
  box-shadow: $box-shadow-default;
  background-color: $white;
  .billing__filter-row-dates {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    align-items: flex-start;
    column-gap: 1rem;
    row-gap: 1rem;
    font-style: $size-xs;
    margin-bottom: 1rem;
    .billing__filter-item {
      display: flex;
      flex-direction: column;
      label {
        font-weight: bold;
        margin-bottom: 0.25em;
        font-size: $size-base;
      }
      input[type="date"] {
        width: 100%;
        font-size: $size-base;
        &:disabled {
          color: $white;
        }
      }
      input[type="text"] {
        width: 100%;
        font-size: $size-base;
      }
      &:nth-child(3) {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        label {
          margin-bottom: 0;
        }
      }
    }
  }
  .billing__filter-row-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      text-align: center;
      margin-left: 10px;
    }
    a {
      font-size: $size-sm;
      text-decoration: underline;
    }
    button > a {
      text-decoration: none;
    }
  }
}

.billing-table__container {
  flex: 1;
  min-height: 200px;
  overflow: scroll;
  border-radius: 6px;
  box-shadow: $box-shadow-default;
  background-color: $white;
}
.billing-table {
  table-layout: fixed;
  min-width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  font-size: $size-xs;
  thead {
    position: sticky;
    z-index: 1;
    top: 0;
    background: $blue;
    border-radius: 6px;
  }
  th {
    min-width: 120px;
    padding: 10px;
    cursor: pointer;
    text-align: left;
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      min-width: 170px;
    }
    &:nth-child(7) {
      min-width: 200px;
    }
    &:nth-child(10),
    &:nth-child(11),
    &:nth-child(12),
    &:nth-child(13),
    &:nth-child(14) {
      text-align: end;
    }
    &:nth-child(1),
    &:nth-child(15),
    &:nth-child(16) {
      text-align: center;
    }
  }
  tfoot {
    z-index: 2;
  }
  &__item {
    border-bottom: solid 1px $grey2;
    td {
      text-align: left;
      padding: 0.5rem;
      word-break: break-word;
      &:nth-child(10),
      &:nth-child(11),
      &:nth-child(12),
      &:nth-child(13),
      &:nth-child(14) {
        text-align: end;
      }
      &:nth-child(1),
      &:nth-child(15),
      &:nth-child(16) {
        text-align: center;
      }
    }
    input,
    select {
      width: 100%;
      font-size: $size-base;
    }
    input[type="submit"] {
      width: auto;
    }
    input[type="date"] {
      width: 100%;
    }
    &-btn-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.25rem;
      button {
        font-size: $size-xs;
      }
    }
  }
  tfoot {
    position: sticky;
    bottom: 0;
    outline: solid 1.5px $orange;
    background-color: $white;
    td {
      &:nth-child(1),
      &:nth-child(2) {
        text-align: center;
      }
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7) {
        text-align: end;
      }
    }
  }
}
.billing-codes__templates {
  margin-top: 40px;
  padding: 0 20px;
  height: 93%;
  &-btn-container {
    text-align: center;
    margin-bottom: 20px;
    button {
      margin-left: 5px;
    }
  }
  &-list {
    height: 85%;
    border: solid 0.5px $grey2;
    border-radius: 6px;
    overflow-y: scroll;
    padding: 10px;
    &-item {
      margin-bottom: 5px;
      cursor: pointer;
      span {
        &:hover {
          text-decoration: underline;
        }
      }
      &--edit {
        cursor: auto;
        padding: 5px;
        &:hover {
          text-decoration: none;
        }
        label {
          font-weight: bold;
          margin-right: 10px;
        }
        input {
          margin-right: 10px;
          width: 210px;
        }
        button {
          margin-left: 5px;
        }
      }
    }
  }
  &-search {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    label {
      font-weight: bold;
      margin-right: 10px;
    }
    input {
      width: 200px;
    }
  }
}

@media (min-width: 1024px) {
  .billing__form {
    .billing__form-item {
      label,
      input,
      select {
        font-size: $size-sm;
      }
    }
  }
  .billing__filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
    .billing__filter-row-dates {
      width: 70%;
      .billing__filter-item {
        label,
        input[type="date"],
        input[type="text"] {
          font-size: $size-sm;
        }
      }
    }
  }
  .billing-table {
    font-size: $size-sm;
    &__item {
      input,
      select {
        font-size: $size-sm;
      }
      &-btn-container {
        button {
          font-size: $size-sm;
        }
      }
    }
  }
}
