.calvinai-prompt {
  height: 100%;
  padding: 0.5rem 0;
  overflow-y: scroll;
  label {
    display: block;
    width: 95%;
    margin: 10px auto;
    font-weight: bold;
    font-size: $size-base;
  }
  &__title {
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-size: $size-lg;
  }
  textarea {
    width: 95%;
    margin: 0 auto 1.5rem;
    display: block;
    resize: none;
    overflow: scroll;
    box-shadow: $box-shadow-default;
    font-size: $size-base;
  }
  &__intro-textarea {
    height: 40px;
  }
  &__conclusion-textarea {
    height: 100px;
  }
  &__body-textarea {
    height: 100px;
  }
  &__attachments-textarea,
  &__reports-textarea {
    height: 200px;
  }
  &__footer {
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 1rem;
  }
  &__add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem;
  }
  &__attachments,
  &__reports {
    border: solid 1px $grey;
    box-shadow: $box-shadow-default;
    flex: 1;
    height: 200px;
    padding: 10px;
    border-radius: 6px;
    min-width: 200px;
    &-title {
      font-weight: bold;
      margin-bottom: 10px;
      font-size: $size-base;
    }
    ul {
      overflow-y: scroll;
      height: 80%;
    }
  }
  &__attachment-item,
  &__report-item {
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    label {
      font-weight: normal;
      margin: 0;
      font-size: $size-base;
    }
  }
  &__btns {
    display: flex;
    justify-content: center;
  }
}

.calvinai-discussion {
  width: 95%;
  padding: 0.5rem;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  &__content {
    overflow: scroll;
    font-size: $size-sm;
    border-bottom: solid 1px $grey;
    height: 80%;
  }
  &__btns {
    height: 5%;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.25rem;
    span {
      text-decoration: underline;
      cursor: pointer;
      font-weight: bold;
    }
  }
  &__send-btn {
    background-color: $blue;
    &:hover {
      background-color: $blue2;
    }
  }
  &__card {
    padding: 1rem;
    border: solid 1px $grey;
    border-radius: 6px;
    box-shadow: $box-shadow-default;
    margin-bottom: 10px;
    &-content {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 20px;
    }
    &-btns {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 0.25rem;
    }
  }
  &__img-bot {
    width: 7%;
    height: auto;
  }
  &__img-user {
    width: 7%;
    height: auto;
  }
  &__message {
    padding: 0 10px;
    white-space: pre-wrap;
    width: 92%;
    font-size: $size-sm;
  }
}

@media (min-width: 1024px) {
  .calvinai-prompt {
    label {
      font-size: $size-sm;
    }
    &__title {
      font-size: $size-base;
    }
    textarea {
      font-size: $size-sm;
    }
    &__attachments,
    &__reports {
      &-title {
        font-size: $size-sm;
      }
    }
    &__attachment-item,
    &__report-item {
      label {
        font-size: $size-sm;
      }
    }
  }
}
