.closed-practician {
  font-size: $size-base;
  &__message {
    margin-bottom: 1rem;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    select {
      width: 100%;
      font-size: $size-base;
      max-width: 300px;
    }
    &-btn {
      display: flex;
      justify-content: center;
    }
  }
}
@media (min-width: 1024px) {
  .closed-practician {
    font-size: $size-sm;
    &__form {
      select {
        font-size: $size-sm;
      }
    }
  }
}
