.doctors {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
  overflow: hidden;
  padding: 0.5rem;
  &__title {
    font-size: $size-xl;
    text-align: center;
  }
  &__table-title {
    font-weight: bold;
  }
  &__table-container {
    flex: 1;
    overflow: scroll;
    border-radius: 6px;
    box-shadow: $box-shadow-default;
  }
  &__table {
    table-layout: fixed;
    min-width: 100%;
    border-collapse: collapse;
    font-size: $size-xs;
    thead {
      position: sticky;
      top: 0;
      background: $blue;
      border-radius: 6px;
    }
    th {
      min-width: 120px;
      padding: 0.5rem;
      cursor: pointer;
    }
  }
  &__item,
  &__form {
    border-bottom: solid 1px $grey2;
    td {
      text-align: center;
      padding: 0.5rem;
      word-break: break-word;
      input,
      select {
        width: 100%;
        font-size: $size-base;
      }
      input[type="submit"] {
        width: auto;
      }
      button {
        font-size: $size-xs;
      }
      .postalzip-select-input {
        display: flex;
        gap: 0.5rem;
        width: 100%;
        select {
          width: 45%;
        }
        input {
          flex: 1;
        }
      }
    }
  }
  &__item-btn-container,
  &__form-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    button {
      font-size: $size-xs;
    }
  }
  &__btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
  }
}
.doctors-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  &__title {
    font-size: 0.9rem;
    font-weight: bold;
    button {
      margin-left: 0.5rem;
    }
  }
  &__table-container {
    flex: 1;
    overflow: scroll;
    border-radius: 6px;
    box-shadow: $box-shadow-default;
  }
  &__table {
    table-layout: fixed;
    min-width: 100%;
    border-collapse: collapse;
    font-size: $size-xs;
    thead {
      position: sticky;
      top: 0;
      background: $blue;
      border-radius: 6px;
    }
    th {
      min-width: 120px;
      padding: 10px;
      cursor: pointer;
      &:nth-child(10) {
        min-width: 200px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .doctors {
    &__table {
      font-size: $size-sm;
    }
    &__item,
    &__form {
      td {
        input,
        select {
          font-size: $size-sm;
        }
        button {
          font-size: $size-sm;
        }
      }
    }
    &__item-btn-container,
    &__form-btn-container {
      button {
        font-size: $size-sm;
      }
    }
  }
  .doctors-list {
    &__table-container {
      flex: 1;
      overflow: scroll;
      border-radius: 6px;
      box-shadow: $box-shadow-default;
    }
    &__table {
      font-size: $size-sm;
    }
  }
}
