.letters {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
  overflow: hidden;
  padding: 0.5rem;
  &__title {
    font-size: $size-xl;
    text-align: center;
  }
  &__table-container {
    flex: 1;
    overflow: scroll;
    border-radius: 6px;
    box-shadow: $box-shadow-default;
    position: relative;
  }
  &__table {
    table-layout: fixed;
    min-width: 100%;
    border-collapse: collapse;
    font-size: $size-xs;
    thead {
      position: sticky;
      top: 0;
      background: $blue;
      border-radius: 6px;
    }
    th {
      min-width: 120px;
      padding: 0.5rem;
      cursor: pointer;
    }
  }
  &__item {
    border-bottom: solid 1px $grey;
    td {
      text-align: center;
      padding: 0.5rem;
      word-break: break-word;
      input,
      input[type="date"] {
        width: 100%;
        font-size: $size-base;
      }
      input[type="submit"] {
        width: auto;
      }
    }
  }
  &__item-btn-container,
  &__form-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    button {
      font-size: $size-xs;
    }
  }
  &__btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
  }
}
.letter {
  &__form {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: flex-start;
    width: 95%;
    margin: 0 auto;
  }
  &__container {
    height: 680px;
    overflow-y: scroll;
  }
  &__page {
    width: 22cm;
    height: 28cm;
    padding: 50px 60px;
    border: solid 1px $grey;
    box-shadow: $box-shadow-default;
    border-radius: 6px;
    margin-bottom: 10px;
  }
  &__header {
    display: flex;
    height: 20%;
    justify-content: space-between;
  }
  &__logo {
    width: 20%;
    padding: 5px 10px;
    img {
      width: 100%;
    }
  }
  &__doctor-infos {
    font-size: $size-sm;
    width: 50%;
    padding: 5px 10px;
  }
  &__subheader {
    display: flex;
    flex-direction: column;
    height: 25%;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px 10px;
  }
  &__date {
    font-size: $size-sm;
  }
  &__patient-infos {
    font-size: $size-sm;
  }
  &__subject {
    display: flex;
    align-items: center;
    label {
      margin-right: 10px;
    }
    input {
      width: 500px;
    }
  }
  &__recipient {
    display: flex;
    margin-left: auto;
    width: 50%;
    textarea {
      white-space: pre-wrap;
      width: 70%;
      padding-right: 20px;
    }
    label {
      padding-top: 5px;
      width: 30%;
    }
    input {
      width: 500px;
    }
  }
  &__body {
    height: 50%;
    padding: 20px 0;
    white-space: pre-wrap;
    position: relative;
    &--additional {
      height: auto;
      padding: 0;
      margin-top: 30px;
      white-space: pre-wrap;
      overflow-y: scroll;
      border: solid 1px $grey;
      border-radius: 6px;
      &--preview {
        border: none;
      }
    }
    textarea {
      width: 100%;
      height: 440px;
      font-size: $size-sm;
      white-space: pre-wrap;
      text-align: justify;
    }
  }
  &__sign {
    height: 5%;
    display: flex;
    justify-content: flex-end;
    font-size: $size-sm;
    padding: 0 10px;
    label {
      margin-right: 5px;
    }
    &-image {
      img {
        height: 100%;
      }
    }
  }
  &__options {
    padding: 10px;
    flex: 1;
    border: solid 1px $grey;
    box-shadow: $box-shadow-default;
    border-radius: 6px;
    &-name,
    &-site,
    &-description,
    &-date {
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;
      label {
        font-weight: bold;
        width: 150px;
      }
      input,
      select {
        width: 100%;
      }
    }
    &-item {
      display: flex;
      align-items: center;
      input[type="checkbox"] {
        margin-right: 5px;
      }
    }
    &-records {
      margin-top: 15px;
      &-title {
        font-weight: bold;
        padding: 0;
        margin-bottom: 2px;
      }
      &-list {
        border: solid 1px $grey;
        border-radius: 6px;
        padding: 10px;
      }
    }
    &-attachments,
    &-reports {
      margin-top: 15px;
      &-title {
        font-weight: bold;
        padding: 0;
        margin-bottom: 2px;
      }
      &-item {
        display: flex;
        align-items: center;
        input[type="checkbox"] {
          margin-right: 5px;
        }
      }
      &-list {
        height: 150px;
        padding: 10px;
        border: solid 1px $grey;
        border-radius: 6px;
      }
    }
    &-template {
      font-weight: bold;
      text-decoration: underline;
      cursor: pointer;
      margin-top: 10px;
    }
    &-actions {
      text-align: center;
      margin-bottom: 10px;
      button {
        margin-right: 5px;
      }
    }
    &-disclaimer {
      font-style: italic;
      text-align: center;
    }
  }
  &__record-infos {
    margin: 20px 0;
    &-title {
      margin-bottom: 5px;
    }
  }
}

@media (min-width: 1024px) {
  .letters {
    &__item,
    &__form {
      td {
        input,
        select {
          font-size: $size-sm;
        }
      }
    }
    &__table {
      font-size: $size-sm;
    }
    &__item-btn-container,
    &__form-btn-container {
      button {
        font-size: $size-sm;
      }
    }
  }
}
