.new-fax {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 0 0.5rem;
  column-gap: 1rem;
  height: 100%;
  .new-fax__contacts {
    border: solid 0.5px $grey;
    border-radius: 6px;
    font-size: $size-sm;
    padding: 0.5rem;
    .fax-contacts {
      .fax-contacts__title {
        font-weight: bold;
        font-size: $size-base;
        margin-bottom: 1rem;
      }
      .fax-numbers {
        margin-bottom: 20px;
        .fax-numbers__title {
          font-weight: bold;
          font-size: $size-sm;
        }
        .fax-numbers__list {
          height: 150px;
          overflow-y: scroll;
          border: solid 0.5px $grey;
          border-radius: 6px;
          padding: 0.25rem 0.5rem;
          margin-top: 0.25rem;
        }
        .fax-numbers__item {
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .new-fax__form {
    border: solid 0.5px $grey;
    border-radius: 6px;
    font-size: $size-sm;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    .new-fax__form-recipients {
      border-bottom: solid 0.5px $grey;
      height: 30px;
      display: flex;
      align-items: center;
      padding: 0.5rem;
      label {
        font-weight: bold;
      }
      input {
        width: 97%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: $size-sm;
        padding: 0.25rem 0.5rem;
        outline: none;
      }
    }
    .new-fax__form-subject {
      border-bottom: solid 0.5px $grey;
      height: 30px;
      display: flex;
      align-items: center;
      padding: 0.5rem;
      label {
        font-weight: bold;
      }
      input {
        outline: none;
        width: 95%;
        font-size: $size-sm;
        padding: 0.25rem 0.5rem;
        overflow-x: scroll;
      }
    }
    .new-fax__form-patient {
      border-bottom: solid 0.5px $grey;
      height: 30px;
      display: flex;
      align-items: center;
      padding: 0.5rem;
      label {
        font-weight: bold;
      }
      input {
        outline: none;
        width: 80%;
        font-size: $size-sm;
        padding: 0.25rem 0.5rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .new-fax__form-attach {
      border-bottom: solid 0.3px $grey;
      min-height: 30px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 0.5rem;
      font-size: $size-sm;
      label {
        font-weight: bold;
      }
    }
    .new-fax__form-templates {
      border-bottom: solid 0.3px $grey;
      min-height: 30px;
      padding: 0.5rem;
      text-decoration: underline;
      cursor: pointer;
    }
    .new-fax__form-body {
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow-y: scroll;
      textarea {
        font-size: $size-sm;
        border-bottom: solid 0.5px $grey;
        outline: none;
        padding: 0.5rem;
        width: 100%;
        min-height: 100%;
      }
      .fax__attachments {
        display: flex;
        padding: 1rem;
        flex-wrap: wrap;
        .fax__attachment-card {
          border: solid 0.5px $grey;
          margin: 0.5rem 0.25rem 0;
          .fax__attachment-card-thumbnail {
            height: 80px;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            iframe {
              border: none;
              cursor: pointer;
            }
          }
          .fax__attachment-card-footer {
            background: $grey;
            padding: 0.25rem;
            font-size: $size-xs;
            display: flex;
            flex-direction: column;
          }
          .fax__attachment-card-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
              font-size: $size-xs;
              margin-bottom: 0.25rem;
            }
          }
          .fax__attachment-card-btn {
            text-align: center;
            button {
              font-size: $size-xs;
              max-width: 100%;
            }
          }
        }
      }
    }
    .new-fax__form-btns {
      border-top: solid 0.3px $grey;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 0.25rem;
      padding: 0.5rem;
    }
  }
}

.new-fax-mobile {
  padding: 0 0.5rem;
  height: 100%;
  position: relative;
  .new-fax-mobile__contacts {
    border: solid 0.5px $grey;
    border-radius: 6px;
    font-size: $size-base;
    padding: 0.5rem;
    position: absolute;
    top: 0;
    transform: translateX(-200%);
    z-index: 1;
    transition: transform 0.3s ease-in-out;
    background-color: $white;
    height: 100%;
    width: 70%;
    .fax-contacts {
      .fax-contacts__title {
        font-weight: bold;
        font-size: $size-base;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
      }
      .fax-numbers {
        margin-bottom: 1rem;
        &__title {
          font-weight: bold;
          font-size: $size-base;
        }
        &__list {
          height: 110px;
          overflow-y: scroll;
          border: solid 0.5px $grey;
          border-radius: 6px;
          padding: 0.25rem 0.5rem;
          margin-top: 0.25rem;
          font-size: $size-base;
        }

        &__item {
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .new-fax-mobile__form {
    border: solid 0.5px $grey;
    border-radius: 6px;
    font-size: $size-base;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    .new-fax__form-recipients {
      border-bottom: solid 0.5px $grey;
      height: 30px;
      display: flex;
      align-items: center;
      padding: 0.5rem;
      label {
        font-weight: bold;
      }
      input {
        width: 97%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: $size-base;
        padding: 0.25rem 0.5rem;
        outline: none;
      }
    }
    .new-fax__form-subject {
      border-bottom: solid 0.5px $grey;
      height: 30px;
      display: flex;
      align-items: center;
      padding: 0.5rem;
      label {
        font-weight: bold;
      }
      input {
        outline: none;
        width: 95%;
        font-size: $size-base;
        padding: 0.25rem 0.5rem;
        overflow-x: scroll;
      }
    }
    .new-fax__form-attach {
      border-bottom: solid 0.3px $grey;
      min-height: 30px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 0.5rem;
      font-size: $size-base;
      label {
        font-weight: bold;
      }
    }
    .new-fax__form-templates {
      border-bottom: solid 0.3px $grey;
      min-height: 30px;
      padding: 0.5rem;
      text-decoration: underline;
      cursor: pointer;
    }
    .new-fax__form-body {
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow-y: scroll;
      textarea {
        font-size: $size-base;
        border-bottom: solid 0.5px $grey;
        outline: none;
        padding: 0.5rem;
        width: 100%;
        min-height: 100%;
      }
    }
    .new-fax__form-btns {
      border-top: solid 0.3px $grey;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 0.25rem;
      padding: 0.5rem;
    }
  }
  .fax__attachments {
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    .fax__attachment-card {
      border: solid 0.5px $grey;
      margin: 0.5rem 0.25rem 0;
      .fax__attachment-card-thumbnail {
        height: 80px;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        iframe {
          border: none;
          cursor: pointer;
        }
      }
      .fax__attachment-card-footer {
        background: $grey;
        padding: 0.25rem;
        font-size: $size-xs;
        display: flex;
        flex-direction: column;
      }
      .fax__attachment-card-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          font-size: $size-xs;
          margin-bottom: 0.25rem;
        }
      }
      .fax__attachment-card-btn {
        text-align: center;
        button {
          font-size: $size-xs;
          max-width: 100%;
        }
      }
    }
  }
}
