.prescriptions {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
  overflow: hidden;
  padding: 0.5rem;
  &__title {
    font-size: $size-xl;
    text-align: center;
  }
  &__table-container {
    flex: 1;
    overflow: scroll;
    border-radius: 6px;
    box-shadow: $box-shadow-default;
    position: relative;
  }
  &__table {
    table-layout: fixed;
    min-width: 100%;
    border-collapse: collapse;
    font-size: $size-xs;
    thead {
      position: sticky;
      top: 0;
      background: $blue;
      border-radius: 6px;
    }
    th {
      min-width: 120px;
      padding: 0.5rem;
      cursor: pointer;
    }
  }
  &__item {
    border-bottom: solid 1px $grey2;
    td {
      text-align: center;
      padding: 0.5rem;
      word-break: break-word;
      input {
        width: 100%;
        font-size: $size-base;
      }
    }
  }
  &__link {
    cursor: pointer;
    color: $darkblue;
    text-decoration: underline;
  }
  &__item-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    button {
      font-size: $size-xs;
    }
  }
  &__btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
  }
}

@media (min-width: 1024px) {
  .prescriptions {
    &__item,
    &__form {
      td {
        input,
        select {
          font-size: $size-sm;
        }
        .rw-list-option {
          font-size: $size-sm;
        }
      }
    }
    &__table {
      font-size: $size-sm;
    }
    &__item-btn-container {
      button {
        font-size: $size-sm;
      }
    }
  }
}
