.reportsinbox {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1300px;
}

.reportsinbox__results {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  font-size: $size-base;
  margin-bottom: 10px;
  align-self: flex-start;
}
.reportsinbox__table-container {
  flex: 1;
  height: 100px;
  font-size: $size-xs;
  overflow: scroll;
  border-radius: 6px;
  box-shadow: $box-shadow-default;
  margin: 0 auto;
  max-width: 100%;
  background-color: $white;
}
.reportsinbox__table {
  table-layout: fixed;
  min-width: 100%;
  border-collapse: collapse;
  button {
    font-size: $size-xs;
  }
  thead {
    position: sticky;
    top: 0;
    background: $blue;
    border-radius: 6px;
  }
  th {
    min-width: 120px;
    padding: 0.5rem;
    cursor: pointer;
    &:nth-child(9) {
      min-width: 170px;
    }
    &:nth-child(10) {
      min-width: 150px;
    }
  }
}
.reportsinbox__forward {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  .reportsinbox__forward-title {
    font-size: $size-base;
    margin-bottom: 1rem;
    label {
      font-weight: bold;
      margin-bottom: 1rem;
      display: inline-block;
    }
    .reportsinbox__forward-btns {
      display: flex;
      justify-content: center;
      gap: 0.25rem;
    }
  }
  .reportsinbox__forward-list {
    border-radius: 6px;
    box-shadow: $box-shadow-default;
    padding: 1rem;
    flex: 1;
    overflow-y: scroll;
    .reportsinbox__forward-category {
      margin-bottom: 1rem;
    }
    .reportsinbox__forward-category-overview {
      display: flex;
      align-items: center;
      font-size: $size-base;
      margin-bottom: 0.5rem;
      label {
        font-weight: bold;
        margin-left: 0.5em;
      }
    }
    .reportsinbox__forward-category-list {
      margin-left: 1em;
      .reportsinbox__forward-list-item {
        display: flex;
        align-items: center;
        font-size: $size-sm;
        margin-bottom: 0.25rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .reportsinbox__form {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
  .reportsinbox__form-content {
    flex: 1;
  }
}

/*lg*/
@media (min-width: 1024px) {
  .reportsinbox__subtitle {
    font-size: $size-sm;
  }
  .reportsinbox__results {
    font-size: $size-sm;
  }
  .reportsinbox__table {
    font-size: $size-sm;
    button {
      font-size: $size-sm;
    }
  }
  .reportsinbox__form {
    font-size: $size-sm;
    .patient-search {
      font-size: $size-sm;
    }
  }
}
