.patient-account {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  &__container {
    box-shadow: $box-shadow-default;
    border-radius: 6px;
    background: $white;
    padding: 20px;
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    border: solid 1px $grey2;
  }
  &__btns {
    margin-top: 20px;
    text-align: center;
    button {
      margin-left: 5px;
    }
  }
  &__form {
    font-size: $size-sm;
    &-content {
      display: grid;
      grid-template-columns: 17% 35% 35%;
      justify-content: space-between;
      &-column {
        &-image {
          display: flex;
          flex-direction: column;
          width: 100%;
          border-radius: 6px;
          overflow: hidden;
          margin-right: 10px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          input[type="file"] {
            &::-webkit-file-upload-button {
              cursor: pointer;
            }
          }
        }
      }
      &-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        align-items: center;
        label {
          min-width: 100px;
        }
        &--postal {
          label {
            min-width: 150px;
          }
        }
      }
      &-sign {
        margin-top: 20px;
      }
      label {
        font-size: $size-sm;
        font-weight: bold;
      }
      input,
      select {
        width: 150px;
      }
    }
    legend {
      margin-left: 10px;
      padding: 5px;
      font-weight: bold;
    }
  }
}

@media (max-width: 768px) {
  .patient-account {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    &__form-content {
      display: flex;
      flex-direction: column;
      &-column-image {
        width: 20%;
        min-width: 100px;
        margin-bottom: 1.5rem;
      }
      &-row {
        font-size: $size-base;
        label {
          font-size: $size-base;
        }
      }
    }
  }
}
