.subheader__container {
  background: $grey;
  box-shadow: $box-shadow-default;
  margin-bottom: 0.25rem;
}
.subheader {
  position: sticky;
  top: 53px;
  width: 100%;
  padding: 10px 0.935rem;
  background: $grey;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1700px;
  margin: 0 auto;
  &__left {
    display: none;
  }
  &__clinic {
    font-weight: normal;
    font-size: $size-sm;
    margin-right: 5px;
  }
  &__weather {
    display: flex;
    align-items: center;
    font-size: $size-sm;
    &-logo {
      width: 25px;
      height: 25px;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
  &__title {
    font-size: $size-base;
    text-align: center;
    font-weight: bold;
    text-align: center;
  }
  &__right {
    display: none;
  }
  &__right-logout {
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }
  }
}

@media (min-width: 1024px) {
  .subheader {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    align-items: center;
    justify-content: space-between;
  }
  .subheader__left {
    display: flex;
    align-items: center;
    font-size: $size-sm;
  }
  .subheader__right {
    display: block;
    font-size: $size-sm;
    font-style: italic;
    text-align: end;
    padding: 0;
  }
  .subheader__title {
    font-size: $size-lg;
  }
}
