.appointments-patient {
    background-color: $white;
    width:100%;
    border: solid 1px $grey;
    border-radius: 6px;
    padding : 10px ;
    font-size: 0.85rem;
    box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
    height: 50%;
    &--past {
        margin-bottom: 10px;
    }
    &__title {
        font-size: 0.9rem;
        margin-bottom: 10px;
        border-bottom: solid 0.5px $grey;
        font-weight: bold;
    }
    &__content{
        height:220px;
        overflow:scroll;
    }
    &__item {
        width:100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0;
        input[type="checkbox"] {
            margin-right: 10px;         
        }
    }
    &__date {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width:50%;
       
        input[type="checkbox"] {
            margin-right: 10px;
        }
    }
    &__btn {
        margin-top: 10px;
        text-align: center;
    }
}