.appointments {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
  overflow: hidden;
  padding: 0.5rem;
  &__title {
    font-size: $size-xl;
    text-align: center;
  }
  &__table-container {
    flex: 1;
    overflow: scroll;
    border-radius: 6px;
    box-shadow: $box-shadow-default;
  }
  &__table {
    table-layout: fixed;
    min-width: 100%;
    border-collapse: collapse;
    font-size: $size-xs;
    thead {
      position: sticky;
      top: 0;
      background: $blue;
      border-radius: 6px;
    }
    th {
      min-width: 120px;
      padding: 0.5rem;
      cursor: pointer;
      &:nth-child(4),
      &:nth-child(5) {
        min-width: 170px;
      }
      &:nth-child(6),
      &:nth-child(7) {
        min-width: 210px;
      }
      &:nth-child(8) {
        min-width: 80px;
      }
    }
  }
  &__item,
  &__form {
    border-bottom: solid 1px $grey;
    td {
      text-align: center;
      padding: 0.5rem;
      word-wrap: break-word;
      .datetimepicker {
        width: 100%;
        &__select {
          display: flex;
          flex-direction: column;
          gap: 0.25rem;
          width: 100%;
        }
        &__time {
          gap: 0.25rem;
          select {
            width: 33%;
          }
        }
        input {
          width: 100%;
        }
      }
    }
    select {
      width: 100%;
      font-size: $size-base;
    }
    input {
      width: 100%;
      font-size: $size-base;
    }
  }
  &__item-date-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 290px;
    input[type="date"] {
      width: 150px;
      font-size: $size-base;
    }
  }
  &__item-btn-container,
  &__form-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    button {
      font-size: $size-xs;
    }
  }
  &__btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
  }
}

@media (min-width: 1024px) {
  .appointments {
    &__table {
      font-size: $size-sm;
    }
    &__item,
    &__form {
      select {
        font-size: $size-sm;
      }
      input {
        font-size: $size-sm;
      }
    }
    &__item-date-container {
      input[type="date"] {
        font-size: $size-sm;
      }
    }
    &__item-btn-container,
    &__form-btn-container {
      button {
        font-size: $size-sm;
      }
    }
  }
}
