// comma : .class1, .class2 apply to class1 and class 2
//space : .class1 .class2 apply to class 2 that is inside class 1
//no space : .class1.class2 apply to element that has both classes
// .calendar {
//   z-index: 1;
//   margin: 10px auto 0;
//   width: 97%;
//   height: 94%;
//   display: flex;
//   justify-content: space-between;
//   overflow-y: scroll;
//   &__print-day {
//     position: absolute;
//     left: 13%;
//     top: 12px;
//   }
//   &__options {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     width: 97%;
//     height: 5%;
//     margin: 0 auto;
//     border-radius: 6px;
//     box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
//     border: solid 1px $grey;
//     background: $white;
//     padding: 0 5px;
//   }
//   &__options-menu {
//     display: flex;
//     align-items: center;
//   }
//   &__options-title {
//     @include childCenter;
//     border-radius: 6px 4px 0 0;
//     font-size: 0.85rem;
//     height: 50px;
//     color: $black;
//     background: $blue;
//   }
//   &__left-bar {
//     width: 14%;
//     height: 78vh;
//     overflow-y: scroll;
//     .calendar__shortcutpickr {
//       border: solid 1px $grey;
//       overflow: hidden;
//       border-radius: 6px;
//       box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
//       .flatpickr {
//         &-calendar.animate.inline {
//           top: 0;
//         }
//         &-month {
//           width: 100%;
//         }
//         &-prev-month,
//         &-next-month {
//           display: flex;
//           align-items: center;
//         }
//         &-monthDropdown-months {
//           font-size: 0.85rem;
//           width: 60%;
//         }
//         &-current-month {
//           display: flex;
//           justify-content: space-between;
//           padding: 10px;
//           .numInputWrapper {
//             font-size: 0.85rem;
//           }
//         }
//         &-weekdaycontainer {
//           display: flex;
//           justify-content: space-between;
//         }
//         &-innerContainer,
//         &-rContainer,
//         &-weekdays,
//         &-days {
//           font-size: 0.8rem;
//         }
//         &-innerContainer {
//           border: none;
//         }
//         &-day {
//           font-size: 0.7rem;
//           height: 10%;
//           line-height: 30px;
//         }
//         &-days {
//           width: 100%;
//           border-radius: 0 0 6px 6px;
//           border: none;
//         }
//       }
//       .dayContainer {
//         min-width: 100%;
//       }
//     }
//   }
//   &__display {
//     width: 85%;
//     position: relative;
//     background: $white;
//     border: solid 1px $grey;
//     border-radius: 6px;
//     padding: 10px;
//     height: 99%;
//     overflow-y: scroll;
//     box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
//     //fullcalendar
//     .fc .fc-timegrid-col.fc-day-today {
//       background: rgb(243, 243, 243);
//     }
//     .fc .fc-daygrid-day.fc-day-today {
//       background: rgb(243, 243, 243);
//     }
//     .fc.fc-media-screen.fc-direction-ltr.fc-theme-standard {
//       .fc-header-toolbar.fc-toolbar {
//         .fc-toolbar-chunk {
//           width: 33%;
//           &:nth-child(2) {
//             text-align: center;
//           }
//           &:nth-child(3) {
//             text-align: end;
//           }
//           .fc-toolbar-title {
//             font-size: 1rem;
//           }
//           .fc-button-group {
//             width: 60%;
//           }
//           .fc-button.fc-button-primary {
//             width: 17%;
//             border-radius: 2px;
//             border: 0.5px solid #a4a3a3;
//             background: $white;
//             color: grey;
//             font-size: 0.8rem;
//             line-height: 1.3;
//             text-align: center;
//             user-select: none;
//             box-shadow: none;
//             margin-left: 0;
//             &:hover {
//               background: $grey;
//               color: rgb(70, 70, 70);
//             }
//             &:disabled {
//               background: $grey;
//               color: rgb(70, 70, 70);
//               border: none;
//               opacity: 1;
//             }
//           }
//           .fc-button.fc-button-primary.fc-button-active {
//             background: $grey;
//             color: rgb(70, 70, 70);
//             border: none;
//           }
//           .fc-prev-button.fc-button.fc-button-primary,
//           .fc-next-button.fc-button.fc-button-primary {
//             width: 8%;
//             .fc-icon {
//               font-size: 0.8rem;
//             }
//           }
//         }
//       }
//       .fc-view-harness.fc-view-harness-active {
//         margin-top: 5px;
//         font-size: 0.75rem;
//         .fc-scrollgrid.fc-scrollgrid-liquid {
//           .fc-event {
//             &-main {
//               overflow: hidden;
//             }
//           }
//         }
//       }
//       .fc-daygrid-event {
//         position: relative;
//         font-size: 0.7rem;
//         max-height: 15px;
//         overflow: hidden;
//       }
//     }
//   }
//   &__patient-link {
//     // color:$white;
//     cursor: pointer;
//     &--list {
//       color: $black;
//     }
//     &:hover {
//       text-decoration: underline !important;
//     }
//   }
//   &__timezone {
//     padding: 5px;
//     label {
//       font-size: 0.8rem;
//       font-weight: bold;
//       margin-right: 8px;
//     }
//     span {
//       font-size: 0.75rem;
//     }
//   }
// }

@media print {
  .daysheet__btn-container {
    display: none !important;
  }
}

.calendar {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.calendar__options {
  border: solid 1px $grey;
  border-radius: 6px;
  box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
  font-size: $size-sm;
  width: 98%;
  margin: 0.5rem auto 0;
  padding: 0 0.5rem;
}
.calendar__options-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.calendar__options-timezone {
  display: none;
  label {
    font-weight: bold;
    margin-right: 0.5rem;
  }
}
.calendar__layout {
  width: 98%;
  margin: 0.5rem auto 0;
  overflow-y: scroll;
  flex: 1;
}
.calendar__print-btn {
  font-size: $size-sm;
  position: absolute;
  display: inline-block;
  text-decoration: none;
  background-color: $grey;
  color: $black;
  padding: 0.25rem 0.75rem;
  border-radius: 50px;
  box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
  transition: transform 0.2s;
  border: none;
  outline: none;
  white-space: nowrap;
  left: 50%;
  transform: translate(-50%);
  top: 35px;
  &:hover {
    background: $grey2;
  }
  &:disabled {
    opacity: 0.2;
    cursor: default;
  }
  &:active {
    transform: translate(-50%, 1px);
  }
}
.calendar__slot-select,
.calendar__day-select,
.calendar__availability {
  padding: 0.25rem;
  label {
    font-weight: bold;
    margin-right: 0.5rem;
  }
  select {
    font-size: $size-sm;
  }
}
.calendar__left-bar {
  width: 14%;
  height: 99%;
  display: none;
}
.calendar__shortcutpickr {
  border: solid 1px $grey;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
  .flatpickr {
    &-calendar.animate.inline {
      top: 0;
    }
    &-calendar {
      max-width: 100%;
    }
    &-input {
      display: none;
    }
    &-month {
      width: 100%;
      background-color: $blue;
    }
    &-current-month {
      .numInputWrapper {
        color: $black;
      }
    }
    &-prev-month,
    &-next-month {
      display: flex;
      align-items: center;
      fill: black;
      svg {
        width: 8px;
        height: 8px;
      }
    }
    &-monthDropdown-months {
      font-size: $size-xs;
      color: $black;
      width: 60%;
      background-color: $blue;
    }
    &-current-month {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem;
      .numInputWrapper {
        display: flex;
        align-items: center;
        font-size: $size-xs;
      }
    }
    &-weekdaycontainer {
      display: flex;
      justify-content: space-between;
    }
    &-innerContainer,
    &-rContainer,
    &-days {
      font-size: $size-xs;
      width: 100%;
    }
    &-weekdays,
    &-weekday {
      font-size: $size-xxs;
      background-color: $blue;
    }
    &-innerContainer {
      border: none;
    }
    &-day {
      font-size: $size-xxs;
      height: 10%;
      line-height: 1.25rem;
    }
    &-day.selected {
      background: $blue;
      color: $white;
      border: none;
    }
    &-days {
      width: 100%;
      border-radius: 0 0 6px 6px;
      border: none;
    }
  }
  .dayContainer {
    min-width: 100%;
  }
}

.calendar__display {
  position: relative;
  border: solid 1px $grey;
  border-radius: 6px;
  padding: 0.75rem;
  height: 99%;
  overflow-y: scroll;
  box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
  .fc {
    height: 100%;
    font-size: $size-xs;
  }
  .fc-daygrid-week-number {
    display: none;
  }
  .fc-toolbar {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .fc-toolbar-title {
    font-size: $size-base;
  }
  .fc-timegrid-col.fc-day-today {
    background: rgb(243, 243, 243);
  }
  .fc-daygrid-day.fc-day-today {
    background: rgb(243, 243, 243);
  }
  .fc-daygrid-event {
    max-height: 15px;
    overflow: hidden;
  }
  .fc-timegrid-event .fc-event-main {
    overflow: hidden;
  }
  .fc-toolbar-chunk {
    &:nth-child(1) {
      margin-bottom: 2.5rem;
    }
    &:nth-child(2) {
      // width: 60%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &:nth-child(3) {
      // width: 20%;
      align-self: flex-start;
    }
  }
  .fc-button.fc-button-primary {
    width: 60px;
    border-radius: 2px;
    border: 0.5px solid #a4a3a3;
    background: $white;
    color: grey;
    font-size: $size-sm;
    user-select: none;
    margin: 0;
    box-shadow: none;
    outline: none;
    &:hover {
      background: $grey;
      color: rgb(70, 70, 70);
    }
    &:disabled {
      background: $grey;
      color: rgb(70, 70, 70);
      border: none;
      opacity: 1;
    }
    &:focus {
      box-shadow: none;
    }
  }
  .fc-prev-button.fc-button.fc-button-primary,
  .fc-next-button.fc-button.fc-button-primary {
    width: auto;
  }
  .fc-button.fc-button-primary.fc-button-active {
    background: $pink;
    color: $white;
    border: none;
    box-shadow: none;
    &:focus {
      box-shadow: none;
    }
  }
  .fc-today-button.fc-button.fc-button-primary:disabled {
    background: $pink;
    color: $white;
    border: none;
    box-shadow: none;
  }
  .fc-button.fc-button-primary:disabled
    .fc-view-harness.fc-view-harness-active {
    .fc-scrollgrid.fc-scrollgrid-liquid {
      .fc-event {
        &-main {
          overflow: hidden;
        }
      }
    }
  }
}

.calendar__toggle {
  position: absolute;
  top: 120px;
  right: 1rem;
  display: flex;
  // display: none;
}
.calendar__toggle-option {
  border-radius: 2px;
  border: 0.5px solid #a4a3a3;
  background: $white;
  color: grey;
  line-height: 1.3;
  text-align: center;
  user-select: none;
  box-shadow: none;
  margin-left: 0;
  font-size: $size-sm;
  cursor: pointer;
  width: 70px;
  padding: 0.4em 0.65em;
  &:hover {
    background: $grey;
    color: rgb(70, 70, 70);
  }
  &--active {
    background: $pink;
    color: $white;
    border: none;
  }
}

.calendar__filter {
  margin-top: 0.5rem;
  box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
  width: 100%;
  border-radius: 6px;
  font-weight: bold;
  overflow-y: scroll;
  flex: 1;
  border: solid 1px $grey;
}
.calendar__filter-title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  border-radius: 4px 4px 0 0;
  font-size: $size-xs;
  height: 3rem;
  color: $black;
  background: $blue;
  width: 100%;
}
.calendar__site-checkboxes {
  padding: 0.25rem 0.5rem;
  &-title {
    display: flex;
    align-items: center;
    font-size: $size-xs;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  &-item {
    display: flex;
    align-items: center;
    font-size: $size-xs;
    font-weight: normal;
    margin-left: 0.75rem;
    margin-bottom: 0.125rem;
  }
}
.calendar__staff-checkboxes {
  padding: 0.25rem 0.5rem;
  &-category {
    padding: 0;
    margin-bottom: 0.5rem;
  }
  &-title {
    display: flex;
    align-items: center;
    font-size: $size-xs;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  &-item {
    display: flex;
    align-items: center;
    font-size: $size-xs;
    font-weight: normal;
    margin-left: 0.75rem;
    margin-bottom: 0.125rem;
  }
}
.calendar__event-element-day {
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 0.125rem;
  gap: 0.25rem;
  overflow: hidden;
  &-time {
    width: 15%;
  }
  &-guests-infos {
    width: 75%;
  }
  &-btns {
    width: 10%;
    text-align: end;
  }
}

.calendar__event-element {
  overflow: hidden;
  &-time {
    display: none;
  }
  &-reason {
    width: 100%;
  }
  &-purpose {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
  &-row {
    display: flex;
  }
  &-btns {
    display: none;
    text-align: end;
  }
}

.calendar__event-element-list {
  overflow: hidden;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  &-infos {
    width: 85%;
  }
  &-btns {
    width: 15%;
    text-align: end;
  }
}
.calendar__patient-link {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

/*sm*/
@media (min-width: 640px) {
  .calendar__options {
    font-size: $size-xs;
    display: block;
    select {
      font-size: $size-xs;
    }
  }
  .calendar__display {
    .fc-toolbar-title {
      font-size: $size-xs;
    }
  }
  .calendar__toggle {
    font-size: $size-xxs;
    display: flex;
    right: 17.5%;
  }
  .calendar__event-element-day {
    &-time {
      width: 10%;
    }
    &-guests-infos {
      width: 85%;
    }
    &-btns {
      width: 5%;
      text-align: end;
    }
  }
  .calendar__event-element-list {
    &-infos {
      width: 90%;
    }
    &-btns {
      width: 10%;
    }
  }
}

/*md*/
@media (min-width: 768px) {
  .calendar__display {
    .fc-toolbar-title {
      font-size: $size-xs;
    }
    .fc-toolbar-chunk {
      &:nth-child(2) {
        justify-content: flex-start;
      }
    }
    .fc-button.fc-button-primary {
      width: 50px;
      font-size: $size-xs;
    }
    .fc-view-harness.fc-view-harness-active {
      font-size: $size-xs;
    }
    .fc .fc-toolbar.fc-header-toolbar {
      margin-bottom: 2.5rem;
    }
  }
  .calendar__toggle {
    font-size: $size-xs;
    display: flex;
    top: 12px;
    right: 22%;
  }
  .calendar__toggle-option {
    width: 60px;
    padding: 0.375rem;
  }
  .calendar__print-btn {
    font-size: $size-xs;
    top: 48px;
  }
  .calendar__event-element-day {
    font-size: $size-xs;
    &-time {
      width: 12%;
    }
    &-guests-infos {
      width: 83%;
    }
    &-btns {
      width: 5%;
      text-align: end;
    }
  }
}
/*lg*/
@media (min-width: 1024px) {
  .calendar__options-timezone {
    display: block;
  }
  .calendar__options {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .calendar__slot-select,
  .calendar__day-select {
    margin-right: 2rem;
  }
  .calendar__left-bar {
    display: flex;
    flex-direction: column;
  }
  .calendar__layout {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    flex: 1;
  }
  .calendar__display {
    width: 85%;
    .fc-toolbar-title {
      font-size: $size-sm;
    }
    .fc-toolbar-chunk {
      &:nth-child(2) {
        justify-content: center;
      }
    }
    .fc .fc-toolbar.fc-header-toolbar {
      margin-bottom: 1rem;
    }
  }
  .calendar__toggle {
    right: 17%;
  }
  .calendar__print-btn {
    left: 18%;
    top: 15px;
    transform: none;
  }
  .calendar__event-element-day {
    &-time {
      width: 10%;
    }
    &-guests-infos {
      width: 85%;
    }
    &-btns {
      width: 5%;
      text-align: end;
    }
  }
  .calendar__event-element {
    &-reason {
      width: 100%;
      display: flex;
    }
    &-purpose {
      width: 70%;
    }
    &-btns {
      display: block;
      width: 30%;
      text-align: end;
    }
  }
  .calendar__event-element-list {
    &-infos {
      width: 95%;
    }
    &-btns {
      width: 5%;
    }
  }
}
/*xl*/
@media (min-width: 1280px) {
  .calendar__display {
    .fc-toolbar-title {
      font-size: $size-base;
    }
    .fc-button.fc-button-primary {
      width: 70px;
      font-size: $size-sm;
    }
  }
  .calendar__toggle {
    font-size: $size-sm;
    right: 16.5%;
  }
  .calendar__toggle-option {
    width: 70px;
    padding: 0.4375rem;
  }
  .calendar__options {
    font-size: $size-sm;
  }
  .calendar__print-btn {
    font-size: $size-sm;
    top: 16px;
  }
  .calendar-slot-select,
  .calendar-day-select,
  .calendar__availability {
    padding: 0.5rem;
    font-size: $size-sm;
  }
  .calendar__shortcutpickr {
    .flatpickr {
      &-prev-month,
      &-next-month {
        svg {
          width: 10px;
          height: 10px;
        }
      }
      &-monthDropdown-months {
        font-size: $size-sm;
      }
      &-current-month {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        .numInputWrapper {
          display: flex;
          align-items: center;
          font-size: $size-sm;
        }
      }
      &-innerContainer,
      &-rContainer,
      &-days {
        font-size: $size-sm;
      }
      &-weekday {
        font-size: $size-xs;
      }
      &-day {
        height: 10%;
        line-height: 25px;
        font-size: $size-xs;
      }
    }
  }
  .calendar__filter-title {
    font-size: $size-sm;
  }
  .calendar__site-checkboxes {
    &-title {
      font-size: $size-sm;
    }
  }
  .calendar__staff-checkboxes {
    &-title {
      font-size: $size-sm;
    }
  }
  .calendar__event-element-day {
    &-time {
      width: 8%;
    }
    &-guests-infos {
      width: 87%;
    }
    &-btns {
      width: 5%;
      text-align: end;
    }
  }
  .calendar__event-element {
    font-size: $size-xs;
    &-time {
      display: block;
      width: 50%;
    }
    &-reason {
      width: 50%;
    }
    &-btns {
      width: 70%;
    }
  }
}
@media (min-width: 1536px) {
  .calendar__toggle {
    right: 17.5%;
  }
  .calendar__event-element {
    &-time {
      width: 40%;
    }
    &-reason {
      width: 60%;
    }
    &-btns {
      width: 40%;
    }
  }
}
