// comma : .class1, .class2 apply to class1 and class 2
//space : .class1 .class2 apply to class 2 that is inside class 1
//no space : .class1.class2 apply to element that has both classes
.calendar {
  z-index: 1;
  margin: 10px auto 0;
  width: 97%;
  height: 94%;
  display: flex;
  justify-content: space-between;
  overflow-y: scroll;
  &__print-day {
    position: absolute;
    left: 13%;
    top: 12px;
  }
  &__options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%;
    height: 5%;
    margin: 0 auto;
    border-radius: 6px;
    box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
    border: solid 1px $grey;
    background: $white;
    padding: 0 5px;
  }
  &__options-menu {
    display: flex;
    align-items: center;
  }
  &__options-title {
    @include childCenter;
    border-radius: 6px 4px 0 0;
    font-size: 0.85rem;
    height: 50px;
    color: $black;
    background: $blue;
  }
  &__left-bar {
    width: 14%;
    height: 78vh;
    overflow-y: scroll;
    .calendar__shortcutpickr {
      border: solid 1px $grey;
      overflow: hidden;
      border-radius: 6px;
      box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
      .flatpickr {
        &-calendar.animate.inline {
          top: 0;
        }
        &-month {
          width: 100%;
        }
        &-prev-month,
        &-next-month {
          display: flex;
          align-items: center;
        }
        &-monthDropdown-months {
          font-size: 0.85rem;
          width: 60%;
        }
        &-current-month {
          display: flex;
          justify-content: space-between;
          padding: 10px;
          .numInputWrapper {
            font-size: 0.85rem;
          }
        }
        &-weekdaycontainer {
          display: flex;
          justify-content: space-between;
        }
        &-innerContainer,
        &-rContainer,
        &-weekdays,
        &-days {
          font-size: 0.8rem;
        }
        &-innerContainer {
          border: none;
        }
        &-day {
          font-size: 0.7rem;
          height: 10%;
          line-height: 30px;
        }
        &-days {
          width: 100%;
          border-radius: 0 0 6px 6px;
          border: none;
        }
      }
      .dayContainer {
        min-width: 100%;
      }
    }
  }
  &__display {
    width: 85%;
    position: relative;
    background: $white;
    border: solid 1px $grey;
    border-radius: 6px;
    padding: 10px;
    height: 99%;
    overflow-y: scroll;
    box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
    //fullcalendar
    .fc .fc-timegrid-col.fc-day-today {
      background: rgb(243, 243, 243);
    }
    .fc .fc-daygrid-day.fc-day-today {
      background: rgb(243, 243, 243);
    }
    .fc.fc-media-screen.fc-direction-ltr.fc-theme-standard {
      .fc-header-toolbar.fc-toolbar {
        .fc-toolbar-chunk {
          width: 33%;
          &:nth-child(2) {
            text-align: center;
          }
          &:nth-child(3) {
            text-align: end;
          }
          .fc-toolbar-title {
            font-size: 1rem;
          }
          .fc-button-group {
            width: 60%;
          }
          .fc-button.fc-button-primary {
            width: 17%;
            border-radius: 2px;
            border: 0.5px solid #a4a3a3;
            background: $white;
            color: grey;
            font-size: 0.8rem;
            line-height: 1.3;
            text-align: center;
            user-select: none;
            box-shadow: none;
            margin-left: 0;
            &:hover {
              background: $grey;
              color: rgb(70, 70, 70);
            }
            &:disabled {
              background: $grey;
              color: rgb(70, 70, 70);
              border: none;
              opacity: 1;
            }
          }
          .fc-button.fc-button-primary.fc-button-active {
            background: $grey;
            color: rgb(70, 70, 70);
            border: none;
          }
          .fc-prev-button.fc-button.fc-button-primary,
          .fc-next-button.fc-button.fc-button-primary {
            width: 8%;
            .fc-icon {
              font-size: 0.8rem;
            }
          }
        }
      }
      .fc-view-harness.fc-view-harness-active {
        margin-top: 5px;
        font-size: 0.75rem;
        .fc-scrollgrid.fc-scrollgrid-liquid {
          .fc-event {
            &-main {
              overflow: hidden;
            }
          }
        }
      }
      .fc-daygrid-event {
        position: relative;
        font-size: 0.7rem;
        max-height: 15px;
        overflow: hidden;
      }
    }
  }
  &__patient-link {
    // color:$white;
    cursor: pointer;
    &--list {
      color: $black;
    }
    &:hover {
      text-decoration: underline !important;
    }
  }
  &__timezone {
    padding: 5px;
    label {
      font-size: 0.8rem;
      font-weight: bold;
      margin-right: 8px;
    }
    span {
      font-size: 0.75rem;
    }
  }
}

.flatpickr {
  &-calendar.open {
    font-family: $font1;
  }
  .numInputWrapper {
    font-size: 0.85rem;
  }
  &-calendar {
    max-width: 100%;
    //max-width:200px
  }
  &-input {
    display: none;
  }
  &-monthDropdown-months {
    font-size: 0.85rem !important;
    width: 60%;
    color: $black !important;
  }
  &-prev-month {
    display: flex;
    align-items: center;
    padding: 10px 10px 0 10px;
  }

  &-next-month {
    display: flex;
    align-items: center;
    padding: 0px 10px 10px 10px;
    color: $black !important;
  }
  &-current-month {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    input {
      outline: none;
    }
    .numInputWrapper {
      color: $black !important;
    }
  }
  &-months {
    width: 100%;
    font-size: 0.7rem;
  }
  &-innerContainer,
  &-rContainer,
  &-weekdays,
  &-days {
    width: 100%;
  }
  &-weekdays,
  &-weekday {
    background-color: $blue !important;
  }
  &-day {
    font-size: 0.7rem !important;
    height: 10% !important;
    line-height: 30px !important;
    width: 14% !important;
  }
  &-days {
    width: 100% !important;
  }
  &-time {
    input {
      font-size: 0.7rem;
      outline: none;
    }
    .flatpickr-am-pm {
      font-size: 0.7rem;
    }
  }
  &-weekdaycontainer {
    display: flex;
    justify-content: space-between;
  }
  &-innerContainer,
  &-rContainer,
  &-weekdays,
  &-days {
    font-size: 0.8rem;
  }
  &-day {
    font-size: 0.7rem;
    height: 30px;
    line-height: 30px;
  }
  &-month,
  &-monthDropdown-months {
    background-color: $blue !important;
  }
}
.dayContainer {
  min-width: 100% !important;
}

.form-control {
  &:read-only {
    outline: solid 1px $black;
  }
}
.daysheet {
  font-family: $font1;
  print-color-adjust: exact;
  &__event-card {
    font-size: 0.85rem;
    // padding:20px;
    border: solid 0.5px $grey;
    border-radius: 6px;
    box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
    margin: 10px;
    &-header {
      background: $blue;
      padding: 10px;
      border-radius: 6px 6px 0 0;
    }
    &-content {
      padding: 10px 20px;
    }
  }
  &__date {
    text-align: center;
    padding: 10px;
    font-weight: bold;
  }
  &__btn-container {
    text-align: center;
  }
}
@media print {
  .daysheet__btn-container {
    display: none !important;
  }
}
