@media print {
  .calendar__daysheet-btn {
    display: none !important;
  }
}

.calendar {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.calendar__options {
  border: solid 1px $grey;
  border-radius: 6px;
  box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
  font-size: $size-sm;
  width: 98%;
  margin: 0.5rem auto 0;
  padding: 0 0.5rem;
  display: none;
}
.calendar__options-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.calendar__options-timezone {
  display: none;
  label {
    font-weight: bold;
    margin-right: 0.5rem;
  }
}
.calendar__layout {
  width: 98%;
  margin: 0.5rem auto 0;
  overflow-y: scroll;
  flex: 1;
}
.calendar__print-btn {
  font-size: $size-sm;
  position: absolute;
  display: inline-block;
  text-decoration: none;
  background-color: $grey;
  color: $black;
  padding: 0.25rem 0.75rem;
  border-radius: 50px;
  box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
  transition: transform 0.2s;
  border: none;
  outline: none;
  white-space: nowrap;
  top: 40px;
  &:hover {
    background: $grey2;
  }
  &:disabled {
    opacity: 0.2;
    cursor: default;
  }
  &--calendarview {
    left: 50%;
    transform: translate(-50%);
    &:active {
      transform: translate(-50%, 1px);
    }
  }
  &--timelineview {
    left: auto;
    right: 0.5rem;
    &:active {
      transform: translateY(1px);
    }
  }
}
.calendar__slot-select,
.calendar__day-select,
.calendar__availability {
  padding: 0.25rem;
  label {
    font-weight: bold;
    margin-right: 0.5rem;
  }
  select {
    font-size: $size-sm;
  }
}
.calendar__left-bar {
  width: 14%;
  height: 99%;
  display: none;
}
.calendar__select-site {
  position: absolute;
  top: 36px;
  label {
    margin-right: 0.5rem;
  }
}
.calendar__shortcutpickr {
  border: solid 1px $grey;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
  .flatpickr {
    &-calendar.animate.inline {
      top: 0;
    }
    &-calendar {
      max-width: 100%;
    }
    &-input {
      display: none;
    }
    &-month {
      width: 100%;
      background-color: $blue;
    }
    &-current-month {
      .numInputWrapper {
        color: $black;
      }
    }
    &-prev-month,
    &-next-month {
      display: flex;
      align-items: center;
      fill: black;
      svg {
        width: 8px;
        height: 8px;
      }
    }
    &-monthDropdown-months {
      font-size: $size-sm;
      color: $black;
      width: 60%;
      background-color: $blue;
    }
    &-current-month {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem;
      .numInputWrapper {
        display: flex;
        align-items: center;
        font-size: $size-sm;
      }
    }
    &-weekdaycontainer {
      display: flex;
      justify-content: space-between;
    }
    &-innerContainer,
    &-rContainer,
    &-days {
      font-size: $size-sm;
      width: 100%;
    }
    &-weekdays,
    &-weekday {
      font-size: $size-xxs;
      background-color: $blue;
    }
    &-innerContainer {
      border: none;
    }
    &-day {
      font-size: $size-xs;
      height: 10%;
      line-height: 1.25rem;
    }
    &-day.selected {
      background: $blue;
      color: $white;
      border: none;
    }
    &-days {
      width: 100%;
      border-radius: 0 0 6px 6px;
      border: none;
    }
  }
  .dayContainer {
    min-width: 100%;
  }
}

.calendar__display {
  position: relative;
  border: solid 1px $grey;
  border-radius: 6px;
  padding: 0.75rem;
  height: 99%;
  overflow-y: scroll;
  box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
  .fc {
    height: 100%;
    font-size: $size-xs;
  }
  .fc-icon.fc-icon-chevron-right,
  .fc-icon.fc-icon-chevron-left {
    font-size: $size-xs;
  }
  .fc-daygrid-week-number {
    display: none;
  }
  .fc-toolbar {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .fc-toolbar-title {
    font-size: $size-base;
  }
  .fc-timegrid-col.fc-day-today {
    background: rgb(243, 243, 243);
  }
  .fc-daygrid-day.fc-day-today {
    background: rgb(243, 243, 243);
  }
  .fc-daygrid-event {
    max-height: 15px;
    overflow: hidden;
  }
  .fc-timegrid-event .fc-event-main {
    overflow: hidden;
  }
  .fc-toolbar-chunk {
    &:nth-child(1) {
      margin-bottom: 2.5rem;
    }
    &:nth-child(2) {
      // width: 60%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &:nth-child(3) {
      // width: 20%;
      align-self: flex-start;
    }
  }
  .fc-button.fc-button-primary {
    width: 60px;
    border-radius: 2px;
    border: 0.5px solid #a4a3a3;
    background: $white;
    color: grey;
    font-size: $size-sm;
    user-select: none;
    margin: 0;
    box-shadow: none;
    outline: none;
    &:hover {
      background: $grey;
      color: rgb(70, 70, 70);
    }
    &:disabled {
      background: $grey;
      color: rgb(70, 70, 70);
      border: none;
      opacity: 1;
    }
    &:focus {
      box-shadow: none;
    }
  }
  .fc-prev-button.fc-button.fc-button-primary,
  .fc-next-button.fc-button.fc-button-primary {
    width: auto;
    padding: 0.4em 0.65em;
  }
  .fc-button.fc-button-primary.fc-button-active {
    background: $pink;
    color: $white;
    border: none;
    outline: none;
    box-shadow: none;
    &:focus {
      box-shadow: none;
    }
  }
  .fc-today-button.fc-button.fc-button-primary:disabled {
    background: $pink;
    color: $white;
    border: none;
    box-shadow: none;
  }
  .fc-button.fc-button-primary:disabled
    .fc-view-harness.fc-view-harness-active {
    .fc-scrollgrid.fc-scrollgrid-liquid {
      .fc-event {
        &-main {
          overflow: hidden;
        }
      }
    }
  }
  .fc-col-header-cell.fc-resource {
    word-break: break-all;
  }
}

.calendar__toggle {
  position: absolute;
  top: 120px;
  right: 1rem;
  display: flex;
  &--timeline {
    top: 90px;
  }
}
.calendar__toggle-option {
  border-radius: 2px;
  border: 0.5px solid #a4a3a3;
  background: $white;
  color: grey;
  line-height: 1.5;
  text-align: center;
  user-select: none;
  box-shadow: none;
  margin-left: 0;
  font-size: $size-sm;
  cursor: pointer;
  width: 70px;
  padding: 0.4em 0.65em;
  &:hover {
    background: $grey;
    color: rgb(70, 70, 70);
  }
  &--active {
    background: $pink;
    color: $white;
    border: none;
    &:hover {
      background: $pink;
      color: $white;
      border: none;
    }
  }
}

.calendar__filter {
  margin-top: 0.5rem;
  box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
  width: 100%;
  border-radius: 6px;
  font-weight: bold;
  overflow-y: scroll;
  flex: 1;
  border: solid 1px $grey;
}
.calendar__filter-title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  border-radius: 4px 4px 0 0;
  font-size: $size-sm;
  height: 3rem;
  color: $black;
  background: $blue;
  width: 100%;
}
.calendar__site-checkboxes {
  padding: 0.25rem 0.5rem;
  &-title {
    display: flex;
    align-items: center;
    font-size: $size-sm;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  &-item {
    display: flex;
    align-items: center;
    font-size: $size-xs;
    font-weight: normal;
    margin-left: 0.75rem;
    margin-bottom: 0.125rem;
  }
}
.calendar__staff-checkboxes {
  padding: 0.25rem 0.5rem;
  &-category {
    padding: 0;
    margin-bottom: 0.5rem;
  }
  &-title {
    display: flex;
    align-items: center;
    font-size: $size-sm;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  &-item {
    display: flex;
    align-items: center;
    font-size: $size-xs;
    font-weight: normal;
    margin-left: 0.75rem;
    margin-bottom: 0.125rem;
  }
}
.calendar__event-element-day {
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 0.125rem;
  gap: 0.25rem;
  overflow: hidden;
  &-time {
    width: 15%;
  }
  &-guests-infos {
    width: 85%;
  }
  &-btns {
    display: none;
    text-align: end;
  }
}

.calendar__event-element {
  overflow: hidden;
  &-time {
    display: none;
  }
  &-reason {
    width: 100%;
  }
  &-purpose {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
  &-row {
    display: flex;
  }
  &-btns {
    display: none;
    text-align: end;
  }
}

.calendar__event-element-list {
  overflow: hidden;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  &-infos {
    width: 100%;
  }
  &-btns {
    display: none;
    text-align: end;
  }
}
.calendar__patient-link {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.gear-icon {
  position: absolute;
  top: 0.75rem;
}
.calendar__mobile-options {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: $white;
  padding: 0.5rem;
}
.calendar__mobile-options-header {
  margin-bottom: 1rem;
}
.calendar__mobile-options-menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.calendar__availability-editor-form {
  margin-top: 30px;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .calendar__availability-editor-heads {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }
  .calendar__availability-editor-row {
    display: grid;
    grid-template-columns: 8% 40% 40% 12%;
    align-items: center;
    gap: 0.5rem;
    .calendar__availability-editor-day {
      font-weight: bold;
    }
    .calendar__availability-editor-head {
      text-align: center;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    .calendar__availability-editor-time {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      .time-picker {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        select {
          width: auto;
        }
      }
    }
    .calendar__availability-editor-unavailable {
      display: flex;
      align-items: center;
    }
  }
  .calendar__availability-editor-duration {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    label {
      font-weight: bold;
    }
    .durationpicker__select {
      display: flex;
      gap: 1rem;
      label {
        font-weight: normal;
        margin-right: 0.5rem;
      }
      select {
        width: auto;
      }
    }
  }
  .calendar__availability-editor-btns {
    display: flex;
    justify-content: center;
    gap: 0.25rem;
  }
}
.calendar__daysheet {
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  .calendar__daysheet-btn {
    margin: 0 auto 1rem;
    width: 90%;
    button {
      font-size: $size-base;
      width: 100%;
      margin: 0 auto;
      border-radius: 3px;
      background-color: $pink;
      color: $white;
    }
  }
  .calendar__daysheet-date {
    font-size: $size-base;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .calendar__daysheet-event-card {
    width: 90%;
    margin: 0.5rem auto;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
    print-color-adjust: exact;
    .calendar__daysheet-event-card-header {
      padding: 0.5rem;
      background-color: $blue;
      font-size: $size-base;
      overflow: hidden;
    }
    .calendar__daysheet-event-card-content {
      padding: 0.5rem;
      font-size: $size-sm;
      overflow: hidden;
    }
  }
}

@media (min-width: 425px) {
  .calendar__event-element-day {
    &-time {
      width: 15%;
    }
    &-guests-infos {
      width: 75%;
    }
    &-btns {
      width: 10%;
      text-align: end;
    }
  }
}

@media (min-width: 475px) {
  .calendar__event-element-list {
    &-infos {
      width: 85%;
    }
    &-btns {
      width: 15%;
    }
  }
}
/*sm*/
@media (min-width: 640px) {
  .calendar__options {
    display: block;
  }
  .gear-icon {
    display: none;
  }
  .calendar__event-element-day {
    &-time {
      width: 10%;
    }
    &-guests-infos {
      width: 80%;
    }
    &-btns {
      width: 10%;
      text-align: end;
    }
  }
  .calendar__event-element-list {
    &-infos {
      width: 90%;
    }
    &-btns {
      width: 10%;
    }
  }
}

/*md*/
@media (min-width: 768px) {
  .calendar__event-element-day {
    font-size: $size-xs;
    &-time {
      width: 12%;
    }
    &-guests-infos {
      width: 83%;
    }
    &-btns {
      width: 5%;
      text-align: end;
    }
  }

  .calendar__options {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .calendar__slot-select,
  .calendar__day-select {
    margin-right: 2rem;
  }
}
/*lg*/
@media (min-width: 1024px) {
  .calendar__options-timezone {
    display: block;
  }
  .calendar__left-bar {
    display: flex;
    flex-direction: column;
  }
  .calendar__layout {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    flex: 1;
  }
  .calendar__display {
    width: 85%;
    .fc-toolbar-chunk {
      &:nth-child(2) {
        justify-content: center;
      }
    }
    .fc .fc-toolbar.fc-header-toolbar {
      flex-direction: row;
      .fc-toolbar-chunk {
        &:nth-child(1) {
          margin-bottom: 0;
        }
      }
    }
  }
  .calendar__toggle {
    top: 12px;
    right: 15.4%;
  }
  .calendar__print-btn--calendarview,
  .calendar__print-btn--timelineview {
    left: 18%;
    right: auto;
    top: 15px;
    transform: none;
    &:active {
      transform: translateY(1px);
    }
  }
  .calendar__event-element-day {
    &-time {
      width: 10%;
    }
    &-guests-infos {
      width: 85%;
    }
    &-btns {
      display: block;
      width: 5%;
      text-align: end;
    }
  }
  .calendar__event-element {
    &-reason {
      width: 100%;
      display: flex;
    }
    &-purpose {
      width: 70%;
    }
    &-btns {
      display: block;
      width: 30%;
      text-align: end;
    }
  }
  .calendar__event-element-list {
    &-infos {
      width: 95%;
    }
    &-btns {
      display: block;
      width: 5%;
    }
  }
  .calendar__print-btn--timeline {
    right: auto;
  }
  .calendar__select-site {
    top: 11px;
    left: 50%;
    transform: translate(-50%);
  }
}
/*xl*/
@media (min-width: 1280px) {
  .calendar__display {
    .fc-toolbar-title {
      font-size: $size-base;
    }
    .fc-button.fc-button-primary {
      width: 70px;
    }
  }
  .calendar__options {
    font-size: $size-sm;
  }
  .calendar__print-btn {
    top: 16px;
  }
  .calendar__shortcutpickr {
    .flatpickr {
      &-prev-month,
      &-next-month {
        svg {
          width: 10px;
          height: 10px;
        }
      }
      &-current-month {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        .numInputWrapper {
          display: flex;
          align-items: center;
          font-size: $size-sm;
        }
      }
      &-innerContainer,
      &-rContainer,
      &-days {
        font-size: $size-sm;
      }
      &-weekday {
        font-size: $size-xs;
      }
      &-day {
        height: 10%;
        line-height: 25px;
        font-size: $size-xs;
      }
    }
  }
  .calendar__filter-title {
    font-size: $size-sm;
  }
  .calendar__site-checkboxes {
    &-title {
      font-size: $size-sm;
    }
  }
  .calendar__staff-checkboxes {
    &-title {
      font-size: $size-sm;
    }
  }
  .calendar__event-element-day {
    &-time {
      width: 8%;
    }
    &-guests-infos {
      width: 87%;
    }
    &-btns {
      width: 5%;
      text-align: end;
    }
  }
  .calendar__event-element {
    font-size: $size-xs;
    &-time {
      display: block;
      width: 50%;
    }
    &-reason {
      width: 50%;
    }
    &-btns {
      width: 70%;
    }
  }
}
@media (min-width: 1536px) {
  .calendar__toggle {
    right: 17.5%;
  }
  .calendar__event-element {
    &-time {
      width: 40%;
    }
    &-reason {
      width: 60%;
    }
    &-btns {
      width: 40%;
    }
  }
}

@media (max-width: 1023px) {
  .calendar__availability-editor-form {
    font-size: $size-base;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    .calendar__availability-editor-row {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      &:nth-child(1) {
        display: none;
      }
      .calendar__availability-editor-time {
        flex-direction: column;
        gap: 0.25rem;
        .time-picker {
          display: flex;
          align-items: center;
          gap: 0.25rem;
          select {
            width: auto;
          }
        }
      }
    }
    .calendar__availability-editor-duration {
      flex-direction: column;
      margin-top: 0;
      margin-bottom: 1rem;
      width: 100%;
    }
  }
}
