.calvinai-prompt {
  margin: 50px 0;
  height: 100%;
  label {
    display: block;
    width: 95%;
    margin: 10px auto;
    font-weight: bold;
  }
  &__title {
    margin-bottom: 20px;
    font-size: 1rem;
    padding: 5px 10px;
  }
  textarea {
    width: 95%;
    padding: 10px;
    margin: 0 auto 5px;
    display: block;
    resize: none;
    overflow: scroll;
    box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
  }
  &__intro-textarea {
    height: 40px;
  }
  &__conclusion-textarea {
    height: 100px;
  }
  &__body-textarea {
    height: 100px;
  }
  &__attachments-textarea,
  &__reports-textarea {
    height: 200px;
  }
  &__footer {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    padding: 20px 0;
  }
  &__add {
    width: 75%;
    display: flex;
    justify-content: space-between;
  }
  &__attachments,
  &__reports {
    border: solid 1px $grey;
    box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
    height: 200px;
    padding: 10px;
    border-radius: 6px;
    width: 49%;
    &-title {
      padding: 0;
      font-weight: bold;
      margin-bottom: 10px;
      font-size: 0.9rem;
    }
    ul {
      overflow-y: scroll;
      height: 80%;
    }
  }
  &__attachment-item,
  &__report-item {
    margin-left: 10px;
    display: flex;
    align-items: center;
    input[type="checkbox"] {
      margin-right: 5px;
    }
    label {
      font-weight: normal;
      margin: 0;
    }
  }
}

.calvinai-discussion {
  width: 90%;
  height: 94%;
  margin: 40px auto 0;
  display: flex;
  flex-direction: column;
  &__content {
    overflow: scroll;
    font-size: 0.85rem;
    border-bottom: solid 1px $grey;
    height: 80%;
  }
  &__stop-btn {
    height: 5%;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    button {
      font-size: 0.8rem;
      padding: 5px 10px;
      margin-right: 5px;
    }
  }
  &__send-btn {
    background-color: $blue;
    &:hover {
      background-color: $blue2;
    }
  }
  &__input {
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    border: solid 1px $grey;
    box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
    padding: 5px 0;
    padding-left: 10px;
    padding-right: 20px;
  }
  &__textarea {
    width: 90%;
    overflow: scroll;
    textarea {
      font-family: $font1;
      font-size: 0.85rem;
      padding: 0;
    }
  }
  &__card {
    padding: 20px;
    border: solid 1px $grey;
    border-radius: 6px;
    box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
    margin-bottom: 10px;
    &-content {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 20px;
    }
    &-btns {
      text-align: end;
    }
  }
  &__img-bot {
    width: 8%;
    height: auto;
  }
  &__img-user {
    width: 8%;
    height: auto;
  }
  &__message {
    padding: 0 10px;
    white-space: pre-wrap;
    width: 90%;
  }
}

.calvinai {
  &__templates {
    margin-top: 40px;
    padding: 0 20px;
    height: 93%;
    &-btn-container {
      text-align: center;
      margin-bottom: 20px;
      button {
        margin-left: 5px;
      }
    }
    &-list {
      height: 85%;
      border: solid 0.5px $grey;
      border-radius: 6px;
      overflow-y: scroll;
      padding: 10px;
      &-item {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
        margin-bottom: 5px;
      }
    }
    &-search {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      label {
        font-weight: bold;
        margin-right: 10px;
      }
      input {
        width: 200px;
      }
    }
  }
}
