.clinical-notes {
  background-color: $white;
  font-size: $size-sm;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &__header {
    &-title {
      font-weight: bold;
      padding: 0.5rem;
      display: flex;
      gap: 2rem;
      background-color: $grey;
      border-bottom: solid 0.5px grey;
      &-infos {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }
    &-toolbar {
      padding: 0.5rem;
      display: flex;
      gap: 1rem;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      background-color: $grey;
      box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
      &-search {
        width: 100%;
        input {
          width: 100%;
          font-size: $size-base;
        }
      }
      &-order {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        &-navigation {
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }
      }
      &-btns {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.25rem;
        row-gap: 0.5rem;
        justify-content: center;
      }
    }
  }
  &__content {
    max-height: 0;
    transition: 0.3s;
    overflow-y: scroll;
    padding-top: 0;
    &--active {
      max-height: 65%;
      padding-top: 0.25rem;
    }
  }
  &__card {
    margin: 0.25rem;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
    print-color-adjust: exact;
    &--print {
      font-size: $size-sm;
    }
    &-header {
      padding: 0.5rem;
      background-color: $blue;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      &-row {
        display: flex;
        flex-direction: column;
        row-gap: 0.25rem;
      }
      &-author,
      &-subject {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        p {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      &-btns {
        display: flex;
        flex-wrap: wrap;
        gap: 0.25rem;
        row-gap: 0.5rem;
      }
      &-subject {
        display: flex;
        align-items: center;
        label {
          font-weight: bold;
          margin-right: 5px;
        }
        input {
          width: 100%;
          font-size: $size-base;
        }
      }
      &-version {
        display: flex;
        align-items: center;
      }
      &--folded {
        &-title {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.5rem;
          &-author,
          &-subject {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            p {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }
    }
    &-body {
      padding: 1rem;
      text-align: justify;
      overflow-wrap: break-word;
      width: 100%;
      position: relative;
      &-container {
        max-height: 0;
        transition: 0.3s;
        overflow-y: scroll;
        white-space: pre-wrap;
        &--active {
          max-height: 1000px;
          white-space: pre-wrap;
        }
        p {
          width: 100%;
          overflow-wrap: break-word;
        }
        textarea {
          padding: 0.5rem;
          display: block;
          margin: 0 auto;
          width: 98%;
          overflow-y: scroll;
          font-size: $size-base;
        }
      }
    }
    &-sign {
      text-align: end;
      font-size: $size-xxs;
      font-style: italic;
      margin-bottom: 0.25rem;
    }
  }
  &__attachments {
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
  }
  &__attachment-card {
    border: solid 0.5px $grey;
    width: 30%;
    margin: 10px 5px 0;
  }
  &__attachment-thumbnail {
    height: 80px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    iframe {
      border: none;
      cursor: pointer;
    }
  }
  &__attachment-footer {
    background: rgb(154, 154, 154);
    padding: 5px;
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
  }
  &__attachment-footer-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: 0.7rem;
    }
  }
  &__attachment-footer-btn {
    button {
      width: 100%;
      font-size: 0.65rem;
    }
  }

  &__form {
    margin: 4px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
    &-err {
      padding: 10px 20px;
      font-size: 0.9rem;
      width: 90%;
      margin: 10px auto;
      color: red;
      background-color: rgba(255, 0, 0, 0.403);
      border-radius: 6px;
      text-align: center;
    }
  }
  &__form-header {
    background: $green;
    padding: 10px;
  }
  &__form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    input {
      width: 400px;
    }
  }
  &__form-subject {
    display: flex;
    align-items: center;
    label {
      margin-right: 5px;
      font-weight: bold;
    }
  }
  &__form-body {
    margin: 20px 0;
    position: relative;
    textarea {
      display: block;
      resize: none;
      overflow-y: scroll;
      padding: 10px;
      font-family: $font1, sans-serif;
      width: 95%;
      border: none;
      border-radius: 3px;
      // outline: solid 0.5px grey;
      height: 300px;
      margin: 0 auto;
      padding: 10px;
    }
  }
  &__form-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    button,
    input[type="submit"] {
      margin-left: 5px;
    }
  }

  &__print-page {
    padding: 40px;
    print-color-adjust: exact;
    font-family: $font1;
  }
  &__overview {
    margin-top: 40px;
    height: 93%;
    padding-bottom: 10px;
    overflow-y: scroll;
    &-card {
      border-radius: 6px;
      box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
      padding: 10px;
      margin: 10px;
      label {
        font-weight: bold;
        min-width: 50px;
      }
      &-row {
        display: flex;
        p {
          white-space: pre-wrap;
          margin-left: 40px;
        }
      }
    }
  }
  &__versions {
    margin-top: 40px;
  }
  &__templates {
    margin-top: 40px;
    padding: 0 20px;
    height: 93%;
    &-btn-container {
      text-align: center;
      margin-bottom: 20px;
      button {
        margin-left: 5px;
      }
    }
    &-list {
      height: 85%;
      border: solid 0.5px $grey;
      border-radius: 6px;
      overflow-y: scroll;
      padding: 10px;
      &-item {
        cursor: pointer;
        margin-bottom: 5px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &-search {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      label {
        font-weight: bold;
        margin-right: 10px;
      }
    }
  }
}

.new-template,
.edit-template {
  margin-top: 40px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  &-err {
    padding: 10px 20px;
    font-size: 0.9rem;
    width: 100%;
    margin: 0 auto;
    color: red;
    background-color: rgba(255, 0, 0, 0.403);
    border-radius: 6px;
    text-align: center;
    margin: 0 auto 20px;
  }
  &-title {
    font-size: 0.9rem;
    width: 100%;
    margin-bottom: 20px;
  }
  &-name {
    font-size: 0.9rem;
    width: 100%;
    margin-bottom: 10px;
    input {
      width: 300px;
    }
    label {
      font-weight: bold;
      margin-right: 10px;
    }
  }
  &-body {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    textarea {
      height: 330px;
      width: 100%;
    }
  }
  &-btns {
    width: 100%;
    text-align: center;
    button {
      margin-right: 5px;
    }
  }
}

@media print {
  .clinical-notes__print-page-btn {
    display: none !important;
  }
}
