.clinical-notes {
  background-color: $white;
  font-size: 0.85rem;
  border-bottom: solid 0.5px $grey;
  border-top: solid 0.5px $grey;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &__title {
    font-weight: bold;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $grey;
    border-bottom: solid 1px grey;
    span {
      text-align: center;
      width: 98%;
    }
  }
  &__header {
    // position:sticky;
    // top:0;
    z-index: 1;
    height: 13%;
  }
  &__toolbar {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $grey;
    box-shadow: $box-shadow-default;
    &-search {
      width: 30%;
      input {
        width: 160px;
      }
      label {
        font-weight: bold;
        padding: 0 5px;
      }
    }
    &-order {
      width: 20%;
    }
    &-goto {
      width: 5%;
    }
    &-btn-container {
      width: 50%;
      text-align: right;
      button {
        margin-left: 5px;
      }
    }
  }
  &__order {
    display: flex;
    justify-content: flex-start;
    width: 30%;
  }
  &__radio-item {
    display: flex;
    align-items: center;
  }
  &__content {
    max-height: 0;
    transition: 0.3s;
    overflow-y: scroll;
    padding-top: 0;
    &--active {
      // max-height: 150vh;
      max-height: 87%;
      padding-top: 5px;
    }
  }
  &__form {
    margin: 4px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: $box-shadow-default;
    &-err {
      padding: 10px 20px;
      font-size: 0.9rem;
      width: 90%;
      margin: 10px auto;
      color: red;
      background-color: rgba(255, 0, 0, 0.403);
      border-radius: 6px;
      text-align: center;
    }
  }
  &__form-header {
    background: $pink;
    padding: 10px;
  }
  &__form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    input {
      width: 400px;
    }
  }
  &__form-subject {
    display: flex;
    align-items: center;
    label {
      margin-right: 5px;
      font-weight: bold;
    }
  }
  &__form-body {
    margin: 20px 0;
    position: relative;
    textarea {
      display: block;
      resize: none;
      overflow-y: scroll;
      padding: 10px;
      font-family: $font1, sans-serif;
      width: 95%;
      border: none;
      border-radius: 3px;
      // outline: solid 0.5px grey;
      height: 300px;
      margin: 0 auto;
      padding: 10px;
    }
  }
  &__form-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    button,
    input[type="submit"] {
      margin-left: 5px;
    }
  }
  &__card {
    background-color: $white;
    margin: 4px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: $box-shadow-default;
    print-color-adjust: exact;
    &--print {
      font-size: 0.8rem;
    }
  }
  &__card-header {
    padding: 5px 10px;
    background-color: $blue;
    &-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;
    }
    &--folded {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-title {
        align-items: center;
        display: flex;
        width: 98%;
      }
      &-triangle {
        width: 2%;
        text-align: end;
      }
    }
  }
  &__card-author {
    display: flex;
    align-items: center;
    width: 50%;
    input,
    p {
      padding: 5px;
      margin: 0;
    }
  }
  &__card-version {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 20%;
    select {
      margin-left: 5px;
      width: 50px;
    }
  }
  &__card-triangle {
    width: 2%;
    text-align: end;
  }
  &__card-subject {
    display: flex;
    align-items: center;
    width: 80%;
    label {
      font-weight: bold;
      margin-right: 5px;
    }
    input {
      min-width: 500px;
    }
  }

  &__card-btns {
    width: 48%;
    text-align: end;
    button {
      margin-left: 5px;
    }
  }

  &__card-body {
    padding: 20px;
    text-align: justify;
    overflow-wrap: break-word;
    width: 100%;
    position: relative;
    p {
      width: 100%;
      overflow-wrap: break-word;
    }
    textarea {
      padding: 10px;
      display: block;
      margin: 0 auto;
      width: 98%;
      overflow-y: scroll;
    }
  }
  &__card-body-container {
    max-height: 0;
    transition: 0.3s;
    overflow-y: scroll;
    white-space: pre-wrap;
    &--active {
      max-height: 1000px;
      white-space: pre-wrap;
    }
  }
  &__card-sign {
    text-align: end;
    font-size: 0.6rem;
    font-style: italic;
    margin-bottom: 5px;
  }
  &__attachments {
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
  }
  &__attachment-card {
    border: solid 0.5px grey;
    width: 20%;
    margin: 10px 5px 0;
  }
  &__attachment-thumbnail {
    height: 80px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    iframe {
      border: none;
      cursor: pointer;
    }
  }
  &__attachment-footer {
    background: rgb(154, 154, 154);
    padding: 5px;
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
  }
  &__attachment-footer-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: 0.7rem;
    }
  }
  &_attachment-footer-btn {
    button {
      font-size: 0.65rem;
    }
  }
  &__print-page {
    padding: 40px;
    print-color-adjust: exact;
    font-family: $font1;
  }
  &__overview {
    margin-top: 40px;
    height: 93%;
    padding-bottom: 10px;
    overflow-y: scroll;
    &-card {
      border-radius: 6px;
      box-shadow: $box-shadow-default;
      padding: 10px;
      margin: 10px;
      label {
        font-weight: bold;
        min-width: 50px;
      }
      &-row {
        display: flex;
        p {
          white-space: pre-wrap;
          margin-left: 40px;
        }
      }
    }
  }
  &__versions {
    margin-top: 40px;
  }
  &__templates {
    margin-top: 40px;
    padding: 0 20px;
    height: 93%;
    &-btn-container {
      text-align: center;
      margin-bottom: 20px;
      button {
        margin-left: 5px;
      }
    }
    &-list {
      height: 85%;
      border: solid 0.5px $grey;
      border-radius: 6px;
      overflow-y: scroll;
      padding: 10px;
      &-item {
        cursor: pointer;
        margin-bottom: 5px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &-search {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      label {
        font-weight: bold;
        margin-right: 10px;
      }
    }
  }
}

.new-template,
.edit-template {
  margin-top: 40px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  &-err {
    padding: 10px 20px;
    font-size: 0.9rem;
    width: 100%;
    margin: 0 auto;
    color: red;
    background-color: rgba(255, 0, 0, 0.403);
    border-radius: 6px;
    text-align: center;
    margin: 0 auto 20px;
  }
  &-title {
    font-size: 0.9rem;
    width: 100%;
    margin-bottom: 20px;
  }
  &-name {
    font-size: 0.9rem;
    width: 100%;
    margin-bottom: 10px;
    input {
      width: 300px;
    }
    label {
      font-weight: bold;
      margin-right: 10px;
    }
  }
  &-body {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    textarea {
      height: 330px;
      width: 100%;
    }
  }
  &-btns {
    width: 100%;
    text-align: center;
    button {
      margin-right: 5px;
    }
  }
}

@media print {
  .clinical-notes__print-page-btn {
    display: none !important;
  }
}
