.confirm {
  &-container {
    // height: 200%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background: rgba(0,0,0,0.2);
    z-index: 100000;
  }
  &-dialog {
    border-radius: 6px;
    width: 400px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $white;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
    &--credits {
      width: 300px;
    }
    &--recurring {
      width: 300px;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $blue;
      padding: 10px;
      &-logo {
        img {
          width: 120px;
          height: auto;
        }
      }
      h2 {
        color: $black;
      }
    }
    &-btn-container {
      display: flex;
      justify-content: space-between;
      width: 50%;
      margin: 0 auto;
      padding: 5px 0 15px;
      button {
        width: 80px;
      }
      &--credits {
        width: 100%;
        justify-content: center;
      }
      &--recurring {
        width: 100%;
        text-align: center;
        flex-direction: column;
        align-items: center;
        button {
          width: 150px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
