.credentials {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 1rem;
  background-color: $white;
  &__form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: $white;
    border-radius: 6px;
    box-shadow: $box-shadow-default;
    width: 100%;
    max-width: 350px;
    &-row {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      label {
        font-size: $size-base;
        font-weight: bold;
        margin-bottom: 0.25rem;
      }
      input {
        width: 100%;
        font-size: $size-base;
      }
      ul {
        width: 100%;
        li {
          font-size: $size-sm;
        }
      }
    }

    &-btns {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.25rem;
    }
  }
  &__success {
    padding: 10px 20px;
    width: 30%;
    font-size: 0.9rem;
    margin: 0 auto;
    border-radius: 6px;
    text-align: center;
    color: white;
    background-color: rgba(34, 139, 34);
  }
}
