.cycles {
  &__title {
    font-size: 1.2rem;
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
  }
  &__err {
    padding: 10px 20px;
    font-size: 0.9rem;
    width: 100%;
    margin: 10px auto;
    color: red;
    background-color: rgba(255, 0, 0, 0.403);
    border-radius: 6px;
    text-align: center;
  }
  &__table-container {
    height: 400px;
    overflow: scroll;
    border-radius: 6px;
    box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
  }
  &__table {
    table-layout: fixed;
    min-width: 100%;
    border-collapse: collapse;
    font-size: 0.8rem;
    thead {
      position: sticky;
      top: 0;
      background: $blue;
      border-radius: 6px;
    }
    th {
      min-width: 70px;
      padding: 10px;
      cursor: pointer;
    }
  }
  &__btn-container {
    margin-top: 20px;
    text-align: center;
    button {
      margin-left: 5px;
    }
  }
}
.cycles-item {
  border-bottom: solid 1px $grey;
  td {
    text-align: center;
    padding: 10px;
    max-width: 380px;
  }
  &__btn-container {
    display: flex;
    justify-content: center;
    button {
      margin-left: 5px;
    }
  }
}
.cycles-form {
  margin-top: 40px;
  width: 100%;
  padding: 0 10px;
  legend {
    font-weight: bold;
    padding: 0 4px;
  }
  &__patient-infos,
  &__cycle-infos,
  &__sperm-infos,
  &__tests-infos {
    // display: block;
    box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
    padding: 10px;
    padding-bottom: 20px;
    border: solid 1px $grey;
    border-radius: 6px;
    width: 100%;
    margin: 10px auto;
    margin-top: 20px;
    &-content {
      margin-left: 20px;
    }
    &-content-row {
      display: flex;
    }
    &-item {
      display: flex;
      flex-direction: column;
      margin-right: 40px;
      label {
        font-weight: bold;
        margin-bottom: 5px;
      }
      input {
        width: 150px;
      }
      &--tests {
        input {
          width: 100px;
        }
      }
    }
    &-sex {
      width: 160px;
      font-weight: bold;
      font-style: italic;
    }
    &-row {
      display: flex;
      margin-top: 10px;
      margin-left: 20px;
      &-subtitle {
        font-weight: bold;
        margin-left: 20px;
        margin-right: 40px;
        font-style: italic;
        width: 80px;
      }
    }
    &-radio {
      display: flex;
      margin-right: 20px;
      &-item {
        display: flex;
        align-items: center;
        margin-right: 40px;
        label {
          font-weight: bold;
          margin-left: 5px;
        }
      }
    }
    .rw-combobox,
    .rw-widget {
      width: 200px;
    }
  }
  &__events {
    box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
    padding: 10px;
    padding-bottom: 20px;
    border: solid 1px $grey;
    border-radius: 6px;
    min-width: 100%;
    margin: 10px auto;
    margin-top: 20px;
    &-table-container {
      height: 400px;
      width: 100%;
      overflow: scroll;
      border-radius: 6px;
      box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
      .rw-combobox {
        input {
          &:focus {
            outline: none;
          }
        }
      }
    }
    &-table {
      table-layout: fixed;
      min-width: 100%;
      border-collapse: collapse;
      font-size: 0.8rem;
      thead {
        position: sticky;
        top: 0;
        background: $blue;
        border-radius: 6px;
        z-index: 1000;
      }
      th {
        min-width: 70px;
        padding: 10px;
        cursor: pointer;
      }
    }
    &-item {
      border-bottom: solid 1px $grey;
      td {
        text-align: center;
        padding: 10px;
        word-break: break-word;
        input,
        input[type="date"] {
          width: 150px;
        }
        input[type="submit"] {
          width: auto;
        }
        select {
          margin-bottom: 5px;
        }
      }
    }
  }
  &__btn-container {
    text-align: center;
    button {
      margin-right: 5px;
    }
  }
}

.cycle-print {
  margin: 20px auto;
  font-family: $font1;
  &__btns {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  &__card {
    width: 22cm;
    height: 28cm;
    padding: 20px;
    border-bottom: solid 1px $grey;
    margin-bottom: 70px;
  }
  &__row {
    display: flex;
    margin-bottom: 10px;
  }
  &__patient {
    width: 40%;
    border: solid 1px $grey;
    border-radius: 6px;
    padding: 5px;
    margin-right: 10px;
    &-title {
      font-size: 0.9rem;
      font-weight: bold;
    }
    &-content {
      padding: 10px 30px;
    }
    &-item {
      font-size: 0.85rem;
      display: flex;
      label {
        width: 100px;
        font-weight: bold;
      }
    }
  }
  &__sperm {
    width: 40%;
    border: solid 1px $grey;
    border-radius: 6px;
    padding: 5px;
    &-title {
      font-size: 0.9rem;
      font-weight: bold;
    }
    &-content {
      padding: 10px 30px;
    }
    &-item {
      font-size: 0.85rem;
      display: flex;
      label {
        width: 200px;
        font-weight: bold;
      }
    }
  }
  &__cycle {
    margin-bottom: 10px;
    border: solid 1px $grey;
    border-radius: 6px;
    padding: 5px;
    &-title {
      font-size: 0.9rem;
      font-weight: bold;
    }
    &-content {
      padding: 10px 30px;
    }
    &-item {
      font-size: 0.85rem;
      display: flex;
      label {
        width: 25%;
        font-weight: bold;
      }
      span {
        white-space: pre-wrap;
        word-break: break-word;
        width: 75%;
      }
    }
  }
  &__tests {
    width: 40%;
    border: solid 1px $grey;
    border-radius: 6px;
    padding: 5px;
    margin-right: 10px;
    &-title {
      font-size: 0.9rem;
      font-weight: bold;
    }
    &-content {
      padding: 10px 30px;
    }
    &-item {
      font-size: 0.85rem;
      display: flex;
      label {
        width: 150px;
        font-weight: bold;
      }
    }
  }
  &__events {
    position: absolute;
    left: 100%;
    transform-origin: top left;
    transform: rotate(90deg) translateX(20px);
    margin-bottom: 10px;
    border: solid 1px $grey;
    border-radius: 6px;
    padding: 5px;
    z-index: -1;
    &-container {
      position: relative;
    }
    &-title {
      font-size: 0.9rem;
      font-weight: bold;
      margin-bottom: 10px;
    }
    &-table-container {
      height: 600px;
      overflow: hidden;
      width: 25cm;
      border-radius: 6px;
      box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
    }
    &-table {
      table-layout: fixed;
      border-collapse: collapse;
      font-size: 0.8rem;
      min-width: 100%;
      thead {
        position: sticky;
        top: 0;
        background: $blue;
        border-radius: 6px;
        print-color-adjust: exact;
      }
      th {
        width: 90px;
        padding: 10px;
        cursor: pointer;
        &:nth-child(1) {
          width: 120px;
        }
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9) {
          width: 200px;
        }
      }
    }
    &-item {
      border-bottom: solid 1px $grey;
      td {
        text-align: center;
        padding: 10px;
        word-break: break-word;
      }
    }
  }
  &__notes {
    margin-bottom: 10px;
    border: solid 1px $grey;
    border-radius: 6px;
    padding: 5px;
    &-title {
      font-size: 0.9rem;
      font-weight: bold;
    }
    &-content {
      padding: 10px 30px;
    }
    &-item {
      font-size: 0.85rem;
      display: flex;
      label {
        width: 25%;
        font-weight: bold;
      }
      span {
        white-space: pre-wrap;
        word-break: break-word;
        width: 75%;
      }
    }
  }
}

@media print {
  .cycle-print {
    button {
      display: none !important;
    }
    &__card {
      border: none;
    }
  }
}
