.dashboard {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.dashboard-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.dashboard-card {
  box-shadow: $box-shadow-default;
  border: solid 1px $grey;
  border-radius: 6px;
  background-color: $white;
  padding: 10px;
  width: 90%;
  margin: 0 auto;
  // height : 490px;
  font-size: 0.85rem;
  label {
    font-weight: bold;
  }
  &__title {
    font-size: 1.1rem;
    text-align: center;
    font-weight: bold;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__filter {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 20px auto;
    label,
    input {
      margin-right: 10px;
    }
  }
  &__chart {
    width: 50%;
  }
  &__chart-title {
    text-align: center;
    font-weight: bold;
  }
  &__chart-err {
    padding: 10px 20px;
    font-size: 0.9rem;
    width: 100%;
    margin: 10px auto;
    color: red;
    background-color: rgba(255, 0, 0, 0.403);
    border-radius: 6px;
    text-align: center;
  }
  &__total {
    margin: 20px auto;
    text-align: end;
    width: 90%;
    label {
      margin-right: 10px;
    }
  }
  &__ranking {
    width: 50%;
    padding: 0 20px 10px;
    &-title {
      text-align: center;
      font-weight: bold;
      margin-bottom: 10px;
    }
    &-content {
      margin-top: 20px;
    }
    &-item {
      display: flex;
      margin-left: 20px;
      &-nbr {
        font-weight: bold;
        margin-right: 10px;
      }
    }
    label {
      margin-right: 10px;
    }
  }
}
