.demographics-card {
  width: 95%;
  margin: 3rem auto 1rem;
  border-radius: 6px;
  box-shadow: $box-shadow-default;
  &__header {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    background: $blue;
    border-radius: 6px 6px 0 0;
    h1 {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
  &__btns {
    text-align: center;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 0.25rem;
  }
  &__form {
    margin: 1rem;
    position: relative;
  }
  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    &-row {
      display: flex;
      flex-direction: column;
      margin-bottom: 0.5rem;
      font-size: $size-base;
      .postalzip-select-input {
        display: flex;
        gap: 0.5rem;
        width: 100%;
        select {
          width: auto;
        }
        input {
          flex: 1;
        }
      }
      &--tel {
        flex-direction: row;
        gap: 0.5rem;
        input {
          width: auto;
        }
        .demographics-card__content-row-item-number {
          display: flex;
          flex-direction: column;
          width: 80%;
        }
        .demographics-card__content-row-item-extension {
          display: flex;
          flex-direction: column;
          width: 20%;
        }
      }
    }
    fieldset {
      font-size: $size-base;
    }
    label {
      font-weight: bold;
      margin-bottom: 0.25em;
    }
    input,
    select {
      width: 100%;
      font-size: $size-base;
    }
    fieldset {
      border: solid 1px $grey;
      border-radius: 6px;
      padding: 0.5rem;
      margin-top: 0.5rem;
      font-size: $size-base;
      legend {
        font-weight: bold;
        padding: 0 0.25rem;
      }
    }
    &-row-special {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin-left: 1rem;
      align-items: center;
      margin-bottom: 0.5rem;
      &-item {
        display: flex;
        flex-direction: column;
      }
      label {
        font-weight: bold;
      }
      input,
      select {
        width: 150px;
      }
    }
  }
  &__image {
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    width: 100%;
    margin-bottom: 1rem;
    &-preview {
      display: flex;
      align-items: flex-end;
      margin-bottom: 0.5rem;
    }
    &-preview-square {
      width: 200px;
      height: 200px;
      border-radius: 6px;
      margin-right: 1rem;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    input[type="file"] {
      &::-webkit-file-upload-button {
        cursor: pointer;
      }
    }
  }
  &__sign {
    text-align: right;
    font-size: $size-xs;
    padding: 0.25rem;
  }
}

@media (min-width: 640px) {
  .demographics-card {
    &__content {
      width: 40%;
      &-row {
        input,
        select {
          width: 100%;
        }
      }
    }
    &__image {
      position: absolute;
      margin-bottom: 1rem;
      width: 30%;
    }
  }
}

@media (min-width: 1024px) {
  .demographics-card {
    &__content {
      input,
      select {
        font-size: $size-sm;
      }
      &-row {
        font-size: $size-sm;
      }
      fieldset {
        font-size: $size-sm;
      }
    }
  }
}
