.eforms {
  &__title {
    font-size: 1.2rem;
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
  }
  &__err {
    padding: 10px 20px;
    font-size: 0.9rem;
    width: 100%;
    margin: 10px auto;
    color: red;
    background-color: rgba(255, 0, 0, 0.403);
    border-radius: 6px;
    text-align: center;
  }
  &__table-container {
    height: 450px;
    overflow: scroll;
    border-radius: 6px;
    box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
  }
  &__table {
    table-layout: fixed;
    min-width: 100%;
    border-collapse: collapse;
    font-size: 0.8rem;
    thead {
      position: sticky;
      top: 0;
      background: $blue;
      border-radius: 6px;
    }
    th {
      min-width: 120px;
      padding: 10px;
      cursor: pointer;
    }
  }
  &__item {
    border-bottom: solid 1px $grey;
    td {
      text-align: center;
      padding: 10px;
      word-break: break-word;
      input {
        width: auto;
      }
    }
  }
  &__link {
    cursor: pointer;
    color: $darkblue;
    text-decoration: underline;
  }
  &__item-btn-container {
    display: flex;
    justify-content: center;
    button {
      margin-left: 5px;
    }
  }
  &__form {
    margin-top: 40px;
  }
  &__explainations {
    font-size: 0.9rem;
    border: solid 1px $grey;
    border-radius: 6px;
    padding: 10px;
    margin: 10px;
    li {
      padding: 5px 0;
    }
    ul:nth-child(1) {
      margin-left: 10px;
      margin-top: 5px;
    }
  }
  &__btn-container {
    text-align: center;
    margin-top: 20px;
    button {
      margin-left: 5px;
    }
  }
}
