.error-paragraph {
  padding: 0.5rem 2rem;
  font-size: $size-sm;
  width: 90%;
  margin: 10px auto;
  color: red;
  background-color: rgba(255, 0, 0, 0.403);
  border-radius: 6px;
  text-align: center;
}

@media (min-width: 768px) {
  .error-paragraph {
    font-size: $size-base;
  }
}
