.export-chart {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
  overflow: hidden;
  padding: 0.5rem;
  &__title {
    font-weight: bold;
    padding: 0;
    font-size: $size-base;
  }
  &__records {
    margin-left: 20px;
    &-item {
      display: flex;
      align-items: center;
      margin-bottom: 0.25rem;
      font-size: $size-base;
      input[type="checkbox"] {
        margin-right: 5px;
      }
    }
  }
  &__btn-container {
    display: flex;
    justify-content: center;
    gap: 0.25rem;
    align-items: center;
  }
}
.export-chart__preview {
  margin: 0 auto 10px;
  // width:21cm;
  width: 22cm;
  &-options {
    background-color: $white;
    text-align: center;
    width: 100%;
    padding: 20px 0;
    button {
      margin-right: 5px;
    }
  }
}
.export__card {
  width: 95%;
  margin: 20px auto;
  border: solid 1px $grey;
  border-radius: 6px;
  overflow: hidden;
}
.export__title {
  font-weight: bold;
  padding: 10px;
  color: $white;
}
.export__content {
  padding: 10px;
}

@media (min-width: 1024px) {
  .export-chart {
    &__records-item {
      font-size: $size-sm;
    }
  }
}
