.fax {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow-y: scroll;
  .fax__container {
    height: 100%;
    width: 100%;
    border-radius: 6px;
    box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }
  .fax__toolbar {
    height: 8%;
    width: 100%;
    position: sticky;
    display: grid;
    grid-template-columns: 13% 60% 27%;
    align-items: center;
    justify-content: space-between;
    background: $blue;
    border-radius: 6px 6px 0 0;
    .fax__toolbar-title {
      font-size: $size-xl;
      font-weight: bold;
      padding: 0;
      margin-left: 0.5rem;
    }
    input {
      width: 100%;
      font-size: $size-sm;
    }
    .fax__toolbar-filter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .fax__toolbar-filter-search {
        flex: 1;
        margin-right: 50px;
      }
      .fax__toolbar-filter-date {
        display: flex;
        align-items: center;
        .fax__toolbar-filter-date-item {
          display: flex;
          align-items: center;
          label {
            font-weight: bold;
            font-size: $size-sm;
            margin-right: 10px;
          }
          input {
            margin-right: 10px;
            &:disabled {
              visibility: hidden;
            }
          }
          input[type="checkbox"] {
            margin-left: 10px;
            margin-right: 5px;
          }
        }
      }
    }
    .fax__toolbar-btns {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      justify-content: flex-end;
      margin-right: 0.5rem;
    }
  }
  .fax__content {
    display: grid;
    grid-template-columns: 13% 87%;
    flex: 1;
    width: 100%;
    overflow-y: scroll;
    .fax__content-leftbar {
      overflow: scroll;
      border-radius: 0 0 0 6px;
      background: $greylight;
      ul {
        font-size: $size-sm;
      }
      .fax__content-category {
        padding: 0.25rem 0.5rem;
        cursor: pointer;
        &:hover:not(.fax__content-category--active) {
          background: $grey;
        }
        &--active {
          font-weight: bold;
          background: $pink2;
          color: $white;
        }
      }
    }
    .fax__content-box {
      height: 100%;
      overflow: scroll;
      position: relative;
      display: flex;
      flex-direction: column;
      .fax__overview-toolbar {
        display: grid;
        grid-template-columns: 60% 15% 23% 2%;
        align-items: center;
        border-bottom: solid 0.5px $grey;
        font-size: $size-sm;
        padding: 0.5rem;
        font-weight: bold;
        position: sticky;
        top: 0;
        background-color: $white;
        .fax__overview-from,
        .fax__overview-date,
        .fax__overview-pages {
          text-align: center;
        }
      }
      .fax__thumbnail {
        font-size: $size-sm;
        display: grid;
        padding: 0.5rem;
        border-bottom: solid 0.5px $grey;
        align-items: center;
        grid-template-columns: 60% 15% 23% 2%;
        &:hover {
          box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
        }
        &--unread {
          font-weight: bold;
        }
        .fax__thumbnail-link {
          cursor: pointer;
          display: flex;
          align-items: center;
        }
        .fax__thumbnail-author {
          flex: 1;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          padding-right: 0.5rem;
        }
        .fax__thumbnail-pages {
          text-align: center;
        }
        .fax__thumbnail-date {
          text-align: center;
        }
        .fax__thumbnail-logos {
          display: flex;
          justify-content: center;
          gap: 0.5rem;
        }
      }
      .fax__detail-toolbar {
        font-size: $size-sm;
        padding: 0.25rem;
        border-bottom: solid 0.5px $grey;
        display: grid;
        grid-template-columns: 8% 90% 2%;
        align-items: center;
        position: sticky;
        justify-content: space-between;
        top: 0;
        z-index: 10;
        width: auto;
        background-color: $white;
        .fax__detail-toolbar-btns {
          display: flex;
          align-items: center;
          gap: 0.25rem;
        }
        .fax__detail-toolbar-logos {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.25rem;
        }
      }
      .fax__detail-content {
        flex: 1;
      }
    }
  }
}

.fax-print {
  &__container {
    padding: 40px;
  }
  &__section {
    print-color-adjust: exact;
    border-radius: 6px;
    border: solid 0.3px $grey;
    overflow: hidden;
  }
  &__subject,
  &__patient {
    border-bottom: solid 0.3px $grey;
    height: 30px;
    font-size: 0.9rem;
    background-color: $blue;
  }
  &__btn {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
}
.fax {
  padding: 20px;
  border-bottom: solid 0.5px rgb(204, 204, 204);
  &__title {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
  }
  &__author {
    font-weight: bold;
  }
  &__date {
    width: 28%;
    text-align: right;
  }
  &__subject {
    border-bottom: solid 0.3px $grey;
    height: 30px;
    display: flex;
    align-items: center;
    label {
      font-weight: bold;
      margin: 0;
    }
    input {
      outline: none;
      width: 92%;
    }
  }
  &__subtitle {
    font-size: 0.6rem;
  }
  &__body {
    padding: 20px 20px 0;
    font-size: 0.8rem;
    white-space: pre-wrap;
  }
}
.fax-attachments {
  display: flex;
  padding: 15px;
  flex-wrap: wrap;
}
.fax-attachment {
  &__card {
    border: solid 0.5px $grey;
    width: 30%;
    margin: 10px 5px 0;
  }
  &__thumbnail {
    height: 80px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    iframe {
      border: none;
      cursor: pointer;
    }
  }
  &__footer {
    background: rgb(154, 154, 154);
    padding: 5px;
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
  }
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      margin-top: 0;
      font-size: 0.7rem;
    }
  }
  &__btn {
    button {
      font-size: 0.65rem;
    }
  }
}

@media print {
  .fax-print__btn {
    display: none !important;
  }
}
