.filter-checkboxes {
  padding: 5px 10px;
  background: $white;
  overflow-y: scroll;
  max-height: 500px;
  border-radius: 0 0 6px 6px;
  &-section {
    margin-bottom: 10px;
  }
  ul {
    display: flex;
    flex-direction: column;
    li {
      font-size: 0.7rem;
      font-weight: normal;
      margin-bottom: 2px;
      display: flex;
      .filter-checkbox {
        width: auto;
        margin-right: 5px;
        margin-left: 10px;
      }
      .filter-checkbox-category {
        width: auto;
        margin-right: 5px;
        margin-bottom: 5px;
      }
      .filter-category-label {
        font-weight: bold;
        font-size: 0.8rem;
      }
    }
  }
}
