.hcn {
  &__container {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
  }
}
.hcn__search {
  margin-top: 40px;
  font-size: $size-base;
  display: flex;
  flex-direction: column;
  input {
    width: auto;
  }
  label {
    font-weight: bold;
    margin-bottom: 0.25rem;
  }
}
.hcn__results {
  flex: 1;
  overflow: scroll;
  position: relative;
  border-radius: 6px;
  box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
}
.hcn__results-item {
  font-size: $size-xs;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0.5rem;
  column-gap: 1rem;
  width: 100%;
  border-bottom: solid 1px $grey;
  .hcn__results-code,
  .hcn__results-name {
    text-align: center;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
.hcn__results-item--headers {
  font-size: $size-sm;
  background-color: $blue;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
  overflow-x: scroll;
  .hcn__results-code,
  .hcn__results-name {
    text-align: center;
    font-weight: bold;
  }
}

@media (min-width: 1024px) {
  .hcn__search {
    font-size: $size-sm;
  }
  .hcn__results-item {
    font-size: $size-sm;
  }
  .hcn__results-item--headers {
    font-size: $size-sm;
  }
}
