.hcn {
  &__err {
    padding: 10px 20px;
    font-size: 0.9rem;
    width: 100%;
    margin: 10px auto;
    color: red;
    background-color: rgba(255, 0, 0, 0.403);
    border-radius: 6px;
    text-align: center;
  }
  &__container {
    margin-top: 50px;
  }
}
.hcn-search {
  padding-left: 20px;
  label {
    font-weight: bold;
    margin-right: 10px;
  }
}
.hcn-results {
  padding: 10px;
  padding: 0 20px;
  height: 480px;
  border: solid 0.5px $grey;
  overflow-y: scroll;
  position: relative;
  border-radius: 6px;
  margin-top: 20px;
  &__item {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    &:hover {
      text-decoration: underline;
    }
    &--headers {
      padding: 10px 0 5px;
      position: sticky;
      top: 0;
      background-color: $white;
    }
  }
  &__code {
    font-weight: bold;
    display: inline-block;
    width: 30%;
    margin-right: 50px;
  }
  &__name {
    width: 40%;
  }
}
