.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.75rem;
  background-color: $blue2;
  &--login {
    backdrop-filter: blur(20px);
    background-color: transparent;
  }
  &__title {
    text-align: end;
    display: none;
  }
  &__logo {
    img {
      width: 120px;
    }
  }
  &__nav {
    display: none;
  }
  &__bars {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

@media (min-width: 1024px) {
  .header {
    display: grid;
    grid-template-columns: 20% 80%;
    &--patient {
      grid-template-columns: 40% 60%;
    }
  }
  .header__nav {
    display: block;
    ul {
      display: flex;
      justify-content: space-between;
      font-size: $size-sm;
      li {
        font-weight: bold;
        cursor: pointer;
        &:hover {
          color: $black;
        }
      }
    }
  }
  .header__link {
    color: $black;
    font-weight: bold;
    cursor: pointer;
    &--active {
      border: solid 1px $black;
      padding: 0.25rem 0.75rem;
      border-radius: 40px;
    }
  }
  .header__bars {
    display: none;
  }
}
// /*xl*/
@media (min-width: 1280px) {
  .header {
    display: grid;
    grid-template-columns: 16% 68% 16%;
    &--patient {
      grid-template-columns: 25% 50% 25%;
    }
  }
  .header__title {
    display: inline;
    font-size: $size-base;
  }
  .header__nav {
    ul {
      font-size: $size-sm;
    }
  }
}
