.header {
  position: sticky;
  top: 0;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.75rem;
  background-color: $blue2;
  &--login {
    backdrop-filter: blur(20px);
    background-color: transparent;
  }
  &__title {
    text-align: end;
    display: none;
  }
  &__logo {
    img {
      width: 120px;
    }
  }
  &__nav {
    display: none;
  }
  &__bars {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 768px) {
  .header {
    &__logo {
      width: 145px;
    }
  }
}

@media (min-width: 1024px) {
  .header__logo {
    width: 20%;
  }
  .header__nav {
    width: 80%;
    display: block;
    ul {
      display: flex;
      justify-content: space-between;
      font-size: $size-xs;
      li {
        margin-right: 1.5em;
        font-weight: bold;
        cursor: pointer;
        &:hover {
          color: $black;
        }
      }
    }
  }
  .header__link {
    color: $black;
    font-weight: bold;
    cursor: pointer;
    &--active {
      border: solid 1px $black;
      padding: 0.25rem 0.75rem;
      border-radius: 40px;
    }
  }
  .header__bars {
    display: none;
  }
}
// /*xl*/
@media (min-width: 1280px) {
  .header__title {
    display: inline;
    font-size: $size-base;
    width: 16%;
  }
  .header__nav {
    width: 68%;
    ul {
      font-size: $size-sm;
    }
  }
  .header__logo {
    width: 16%;
  }
}
// /*2xl*/
// @media (min-width: 1536px) {
// }

// .header {
//   position: sticky;
//   top: 0;
//   height: 60px;
//   width: 100%;
//   z-index: 10;
//   padding: 10px 15px;
//   background: $blue2;
//   display: grid;
//   grid-template-columns: 18% 64% 18%;
//   justify-content: space-between;
//   align-items: center;
//   &--patient {
//     grid-template-columns: 15% 70% 15%;
//   }
//   &--admin {
//     grid-template-columns: 15% 70% 15%;
//   }
//   &--login {
//     grid-template-columns: 25% 75%;
//     background: none;
//     backdrop-filter: blur(20px);
//   }
//   &__logo {
//     height: 40px;
//     width: 130px;
//     background: url("@/assets/img/logoRectTest.png") center/cover;
//     cursor: pointer;
//   }
//   &__nav {
//     ul {
//       display: flex;
//       justify-content: space-between;
//       font-size: 0.8rem;
//     }
//     &--patient {
//       ul {
//         justify-content: flex-end;
//       }
//     }
//     &--admin {
//       ul {
//         justify-content: flex-end;
//       }
//     }
//   }
//   &__link {
//     // color:$white;
//     color: $black;
//     font-weight: bold;
//     cursor: pointer;
//     &:hover {
//       // color:#f3f3f3;
//       color: $black;
//     }
//     &--active {
//       // border: solid 1px $white;
//       border: solid 1px $black;
//       padding: 5px 10px;
//       border-radius: 40px;
//     }
//     &--patient {
//       margin-right: 40px;
//     }
//     &--admin {
//       margin-right: 30px;
//     }
//   }
//   &__title {
//     font-family: $font1;
//     text-align: right;
//     font-size: 1rem;
//     text-align: end;
//     // color:#FEFEFE;
//     color: $black;
//   }
// }
