.labels-content {
  &__item {
    text-decoration: underline;
    cursor: pointer;
  }
}
.labels-content__print-btn {
  margin-right: 5px;
}

@media print {
  .labels-content__print-btn,
  .labels-content__select {
    display: none !important;
  }
}
