.medications {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
  overflow: hidden;
  padding: 0.5rem;
  &__title {
    font-size: $size-xl;
    text-align: center;
  }
  &__table-container {
    flex: 1;
    overflow: scroll;
    border-radius: 6px;
    box-shadow: $box-shadow-default;
    position: relative;
  }
  &__table {
    table-layout: fixed;
    min-width: 100%;
    border-collapse: collapse;
    font-size: $size-xs;
    thead {
      position: sticky;
      top: 0;
      background: $blue;
      border-radius: 6px;
    }
    th {
      min-width: 120px;
      padding: 0.5rem;
      cursor: pointer;
    }
  }
  &__item {
    border-bottom: solid 1px $grey;
    &--notactive {
      background: $grey;
    }
    td {
      text-align: center;
      padding: 0.5rem;
      word-break: break-word;
      input {
        width: 100%;
        font-size: $size-base;
      }
      input[type="submit"] {
        width: auto;
      }
    }
  }
  &__item-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    button {
      font-size: $size-xs;
    }
  }
  &__btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
  }
  &__allergies {
    color: red;
  }
}
.medications-form {
  border: solid 1px $grey;
  box-shadow: $box-shadow-default;
  border-radius: 6px;
  padding: 0.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  &__container {
    height: 100%;
    overflow-y: scroll;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    &--norx {
      height: 600px;
    }
  }
  &__btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    row-gap: 0.5rem;
    flex-wrap: wrap;
    margin-top: 0.5rem;
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    p {
      font-weight: bold;
      font-size: 0.9rem;
      margin-right: 10px;
    }
  }
  &__allergies {
    color: red;
    padding: 0.5rem;
  }
  &__row {
    display: flex;
    flex-direction: column;
    &--textarea {
      align-items: flex-start;
    }
    label {
      font-weight: bold;
      margin-bottom: 0.25em;
      font-size: $size-base;
    }
    input,
    select {
      width: 100%;
      font-size: $size-base;
    }
    textarea {
      height: 200px;
      width: 100%;
      font-size: $size-base;
    }
    &--duration {
      max-width: 340px;
    }
  }
  &__links {
    width: 30%;
    h3 {
      font-size: 0.85rem;
      margin-bottom: 10px;
    }
    li {
      text-decoration: underline;
    }
  }
  &__subrow {
    display: flex;
    align-items: center;
    label {
      width: auto;
    }
  }
}

.medications-search {
  width: 45%;
  &-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    label {
      margin-right: 10px;
    }
    input {
      width: 180px;
    }
    progress {
      width: 10px;
      height: 10px;
    }
  }
}

.medications-detail {
  &__btn-container {
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    button {
      margin-left: 5px;
    }
  }
  &__container {
    margin-top: 50px;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    border: solid 1px $grey;
    box-shadow: $box-shadow-default;
    border-radius: 6px;
    form {
      width: 100%;
    }
  }
  &__allergies {
    color: red;
    margin-bottom: 10px;
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    p {
      overflow: hidden;
      white-space: pre-wrap;
      width: 65%;
    }
    &-item {
      display: flex;
      align-items: center;
      width: 33.3%;
    }
    &--textarea {
      align-items: flex-start;
      padding: 10px 0;
    }
    label {
      width: 35%;
      font-weight: bold;
      margin-right: 5px;
    }
    input,
    select {
      width: 140px;
      margin-right: 10px;
    }
    textarea {
      height: 200px;
      width: 500px;
    }
  }
  &__subrow {
    display: flex;
    align-items: center;
    label {
      width: auto;
    }
  }
}

@media (min-width: 1024px) {
  .medications {
    &__table {
      font-size: $size-sm;
    }
    &__item {
      td {
        input {
          font-size: $size-sm;
        }
      }
    }
    &__item-btn-container {
      button {
        font-size: $size-sm;
      }
    }
    &__btn-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.25rem;
    }
    &__allergies {
      color: red;
    }
  }
  .medications-form {
    &__row {
      label {
        font-size: $size-sm;
      }
      input,
      select {
        width: 100%;
        font-size: $size-sm;
      }
      textarea {
        font-size: $size-sm;
      }
    }
  }
}
