.messages {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow-y: scroll;
  .messages__toggle {
    font-size: $size-base;
    padding: 0.25rem 0.5rem;
    width: 250px;
    border-radius: 6px;
    border: solid 1px $grey;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 1.5rem;
    box-shadow: $box-shadow-default;
    .messages__toggle-radio {
      display: flex;
      align-items: center;
      label {
        margin-left: 5px;
      }
    }
  }
  .messages__container {
    flex: 1;
    width: 100%;
    border-radius: 6px;
    box-shadow: $box-shadow-default;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    .messages__toolbar {
      padding: 0.5rem;
      width: 100%;
      position: sticky;
      top: 0;
      display: grid;
      grid-template-columns: 13% 60% 27%;
      align-items: center;
      justify-content: space-between;
      background: $blue;
      border-radius: 6px 6px 0 0;
      .messages__toolbar-title {
        font-size: $size-xl;
        font-weight: bold;
        padding: 0;
      }
      input {
        width: 100%;
        font-size: $size-sm;
        margin-left: -0.25rem;
      }
      .messages__toolbar-btns {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        justify-content: flex-end;
      }
    }
    .messages__content {
      display: grid;
      grid-template-columns: 13% 87%;
      flex: 1;
      width: 100%;
      overflow-y: scroll;
      .messages__content-leftbar {
        overflow: scroll;
        border-radius: 0 0 0 6px;
        background: $greylight;
        ul {
          font-size: $size-sm;
        }
        .messages__content-category {
          padding: 0.25rem 0.5rem;
          cursor: pointer;
          &:hover:not(.messages__content-category--active) {
            background: $grey;
          }
          &--active {
            font-weight: bold;
            background: $pink2;
            color: $white;
          }
        }
      }
      .messages__content-box {
        height: 100%;
        overflow: scroll;
        position: relative;
        .messages__overview-toolbar {
          display: grid;
          grid-template-columns: 25% 45% 15% 13% 2%; //From, Subject, Patient, Date, Fakediv
          align-items: center;
          border-bottom: solid 0.5px $grey;
          font-size: $size-sm;
          padding: 0.5rem;
          font-weight: bold;
          position: sticky;
          top: 0;
          background-color: $white;
          &--todo {
            grid-template-columns: 25% 30% 15% 13% 13% 4%; //From, Todo, Patient,Date, DueDate, Fakediv
          }
          &--external {
            grid-template-columns: 25% 60% 13% 2%; //From, Subject, Date, FakeDiv
          }
          .messages__overview-from,
          .messages__overview-subject,
          .messages__overview-patient,
          .messages__overview-date,
          .messages__overview-duedate {
            text-align: center;
          }
        }
        .message__thumbnail {
          font-size: $size-sm;
          display: grid;
          padding: 0.5rem;
          border-bottom: solid 0.5px $grey;
          align-items: center;
          grid-template-columns: 25% 45% 15% 13% 2%; //From, Subject, Patient, Date, Fakediv
          &:hover {
            box-shadow: $box-shadow-default;
          }
          &--unread {
            font-weight: bold;
          }
          &--todo {
            grid-template-columns: 25% 30% 15% 13% 13% 4%; //From, Todo, Patient,Date, DueDate, Fakediv
          }
          &--external {
            grid-template-columns: 25% 58% 15% 2%; //From, Subject, Date, FakeDiv
          }
          .message__thumbnail-from {
            display: flex;
            align-items: center;
            padding-right: 0.5rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            cursor: pointer;
            .message__thumbnail-from-checkbox {
              width: 5%;
            }
            .message__thumbnail-from-author {
              flex: 1;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
          .message__thumbnail-subject {
            display: flex;
            align-items: center;
            padding: 0 0.25rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: pointer;
            .message__thumbnail-subject-exclamation {
              width: 5%;
            }
            .message__thumbnail-subject-text {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              flex: 1;
            }
            .message__thumbnail-subject-paperclip {
              width: 5%;
            }
            .message__thumbnail-subject-btn {
              width: 20%;
            }
          }
          .message__thumbnail-patient {
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0 0.25rem;
            cursor: pointer;
            &:hover {
              text-decoration: underline;
            }
          }
          .message__thumbnail-date,
          .message__thumbnail-logos,
          .message__thumbnail-duedate {
            text-align: center;
          }
          .message__thumbnail-logos {
            display: flex;
            justify-content: center;
            gap: 0.5rem;
          }
        }
        .message__thumbnail-mobile {
          display: flex;
          flex-direction: column;
          font-size: $size-sm;
          gap: 0.25rem;
          padding: 0.5rem;
          border-bottom: solid 0.5px $grey;
          height: 85px;
          .message__thumbnail-mobile-title {
            display: grid;
            grid-template-columns: 75% 25%;
            align-items: center;
            column-gap: 0.25rem;
            .message__thumbnail-mobile-title-from {
              display: flex;
              font-weight: bold;
              align-items: center;
              .message__thumbnail-mobile-title-from-author {
                flex: 1;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
            }
            .message__thumbnail-mobile-title-date {
              text-align: end;
            }
          }
          .message__thumbnail-mobile-subject {
            display: flex;
            align-items: center;
            .message__thumbnail-mobile-subject-text {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              color: $grey2;
              flex: 1;
            }
          }
          .message__thumbnail-mobile-body {
            overflow: hidden;
            text-overflow: ellipsis;
            flex: 1;
          }
        }
        .message__detail-toolbar {
          font-size: $size-sm;
          padding: 0.25rem;
          border-bottom: solid 0.5px $grey;
          display: grid;
          grid-template-columns: 2% 48% 48% 2%; //Arrow, Subject, Patient, Logos
          align-items: center;
          position: sticky;
          justify-content: space-between;
          top: 0;
          z-index: 10;
          width: auto;
          background-color: $white;
          &--todo {
            grid-template-columns: 2% 48% 46% 4%;
          }
          .message__detail-toolbar-subject {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          .message__detail-toolbar-patient {
            display: flex;
            align-items: center;
            gap: 1rem;
            .message__detail-toolbar-patient-link {
              flex-shrink: 1;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              cursor: pointer;
              &:hover {
                text-decoration: underline;
              }
            }
            .message__detail-toolbar-patient-btn {
              width: 200px;
              flex-shrink: 0;
            }
          }
          .message__detail-toolbar-logos {
            display: flex;
            justify-content: center;
            gap: 0.5rem;
          }
        }
        .message__detail-content {
          .message {
            padding: 1rem;
            border-bottom: solid 0.5px $grey;
          }
          .message__title {
            display: flex;
            justify-content: space-between;
            font-size: $size-sm;
            .message__author {
              font-weight: bold;
            }
            .message__date {
              text-align: right;
            }
          }
          .message__subtitle {
            font-size: $size-xs;
            width: 70%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .message__body {
            padding: 1rem 1rem 0;
            font-size: $size-sm;
            white-space: pre-wrap;
          }
          .message__attachments {
            display: flex;
            padding: 1rem;
            flex-wrap: wrap;
            .message__attachment-card {
              border: solid 0.5px $grey;
              margin: 0.5rem 0.25rem 0;
              width: 15%;
              .message__attachment-card-thumbnail {
                height: 80px;
                overflow: hidden;
                position: relative;
                cursor: pointer;
                iframe {
                  border: none;
                  cursor: pointer;
                }
              }
              .message__attachment-card-footer {
                background: $grey;
                padding: 0.25rem;
                font-size: $size-xs;
                display: flex;
                flex-direction: column;
              }
              .message__attachment-card-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                p {
                  font-size: $size-xs;
                  margin-bottom: 0.25rem;
                }
              }
              .message__attachment-card-btn {
                text-align: center;
                button {
                  font-size: $size-xs;
                  max-width: 100%;
                }
              }
            }
          }
        }
        .message__detail-btns {
          padding: 1rem;
          display: flex;
          align-items: center;
          gap: 0.25rem;
        }
      }
    }
  }
}

.message__print {
  padding: 1rem 2rem;
  .message__print-btn {
    display: flex;
    justify-content: center;
    margin: 0 auto 1rem;
    width: 50%;
    button {
      font-size: $size-2xl;
      width: 100%;
      margin: 0 auto;
      border-radius: 3px;
      background-color: $pink;
      color: $white;
      padding: 1rem;
      &:hover {
        background-color: $pink2;
      }
    }
  }
  .message__print-container {
    print-color-adjust: exact;
    border-radius: 6px;
    border: solid 0.3px $grey;
    overflow: hidden;
    box-shadow: $box-shadow-default;
    .message__print-subject,
    .message__print-patient {
      font-size: $size-sm;
      border-bottom: solid 0.3px $grey;
      background-color: $blue;
      padding: 0.5rem;
    }
  }

  .message__detail-content {
    .message {
      padding: 1rem;
      border-bottom: solid 0.5px $grey;
    }
    .message__title {
      display: flex;
      justify-content: space-between;
      font-size: $size-sm;
      .message__author {
        font-weight: bold;
      }
      .message__date {
        text-align: right;
      }
    }
    .message__subtitle {
      font-size: $size-xs;
      width: 70%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .message__body {
      padding: 1rem 1rem 0;
      font-size: $size-sm;
      white-space: pre-wrap;
    }
    .message__attachments {
      display: flex;
      padding: 1rem;
      flex-wrap: wrap;
      .message__attachment-card {
        border: solid 0.5px $grey;
        margin: 0.5rem 0.25rem 0;
        .message__attachment-card-thumbnail {
          height: 80px;
          overflow: hidden;
          position: relative;
          cursor: pointer;
          iframe {
            border: none;
            cursor: pointer;
          }
        }
        .message__attachment-card-footer {
          background: $grey;
          padding: 0.25rem;
          font-size: $size-xs;
          display: flex;
          flex-direction: column;
        }
        .message__attachment-card-title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          p {
            font-size: $size-xs;
            margin-bottom: 0.25rem;
          }
        }
        .message__attachment-card-btn {
          text-align: center;
          button {
            font-size: $size-xs;
            max-width: 100%;
          }
        }
      }
    }
  }
}

@media print {
  .message__print-btn {
    display: none !important;
  }
}

@media (max-width: 1024px) {
  .messages {
    .messages__container {
      .messages__toolbar {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 0.5rem;
        gap: 0.5rem;
        input {
          font-size: $size-base;
        }
        .messages__toolbar-title {
          display: none;
        }
        .messages__toolbar-btns {
          margin-right: 0;
        }
      }
      .messages__content {
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 0;
        .messages__content-leftbar {
          border-radius: 0;
          height: auto;
        }
        .messages__content-box {
          flex: 1;
          .messages__overview-toolbar {
            display: none;
          }
          .message__detail-toolbar {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            row-gap: 0.25rem;
            padding: 0.5rem;
            .message__detail-toolbar-subject {
              grid-column: span 3;
              text-align: end;
            }
            .message__detail-toolbar-patient {
              grid-column: span 3;
              .message__detail-toolbar-patient-btn {
                display: none;
              }
            }
            .message__detail-toolbar-logos {
              gap: 1rem;
              justify-content: flex-end;
            }
          }
          .message__detail-content {
            .message {
              padding: 0.5rem;
              .message__title {
                flex-direction: column;
                .message__date {
                  text-align: left;
                }
              }
              .message__author {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }
            .message__attachments {
              .message__attachment-card {
                width: 30%;
              }
            }
          }
        }
      }
    }
  }
}
