.mobile-nav__container {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100000;
  overflow: hidden;
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}
.mobile-nav__container--active {
  transform: translateX(0);
  opacity: 1;
}
.mobile-nav__cross {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.mobile-nav {
  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: $size-lg;
  }
  li {
    text-align: center;
  }
}
.mobile-nav__link {
  color: $black;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
