.new-appointments {
  background-color: $white;
  width: 100%;
  border: solid 1px $grey;
  border-radius: 6px;
  padding: 10px;
  font-size: 0.85rem;
  box-shadow: $box-shadow-default;
  &__title {
    font-size: 0.9rem;
    margin-bottom: 10px;
    border-bottom: solid 0.5px $grey;
    font-weight: bold;
  }
  &__disclaimer {
    font-style: italic;
    margin-bottom: 20px;
  }
  &__content {
    height: 200px;
    overflow: scroll;
    padding: 0 10px;
    &-item {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 5px 0;
      input[type="checkbox"] {
        margin-right: 10px;
      }
      p {
        font-size: 0.85rem;
        width: 25%;
      }
      &-date {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        p {
          font-size: 0.85rem;
          width: 50%;
        }
      }
    }
    &-weekpicker {
      text-align: center;
      margin-top: 10px;
      label {
        padding: 10px;
      }
    }
  }
  &__submit {
    text-align: center;
    margin-top: 20px;
  }
  &__confirm {
    padding: 10px 20px;
    width: 80%;
    font-size: 0.9rem;
    margin: 10px auto;
    border-radius: 6px;
    text-align: center;
    color: forestgreen;
    background-color: rgba(34, 139, 34, 0.4);
  }
  .assigned-practicians-list {
    margin-bottom: 20px;
  }
}
