.notepad {
  margin-top: 40px;
  height: 92%;
  width: 100%;
  padding: 0.5rem;
  &__notes {
    height: 95%;
    width: 100%;
    overflow-y: scroll;
    margin-bottom: 1rem;
    white-space: pre-wrap;
    font-size: $size-base;
  }
  &__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
  }
}

@media (min-width: 1024px) {
  .notepad {
    .notepad__notes {
      font-size: $size-sm;
    }
  }
}
