.patient-pamphlets {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  &__search {
    input {
      font-size: $size-base;
      width: 100%;
    }
  }
  &__table-container {
    flex: 1;
    overflow: scroll;
    border-radius: 6px;
    box-shadow: $box-shadow-default;
    position: relative;
  }
  &__table {
    table-layout: fixed;
    min-width: 100%;
    border-collapse: collapse;
    font-size: $size-xs;
    thead {
      position: sticky;
      top: 0;
      background: $blue;
      border-radius: 6px;
    }
    th {
      min-width: 120px;
      padding: 0.5rem;
      cursor: pointer;
    }
  }
  &__item {
    border-bottom: solid 1px $grey;
    td {
      text-align: center;
      padding: 0.5rem;
      word-break: break-word;
      input {
        width: 100%;
        font-size: $size-base;
      }
    }
  }
  &__item-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
}

@media (min-width: 1024px) {
  .patient-pamphlets {
    &__search {
      input {
        font-size: $size-sm;
      }
    }
    &__table {
      font-size: $size-sm;
    }
    &__item {
      border-bottom: solid 1px $grey;
      td {
        input {
          font-size: $size-sm;
        }
      }
    }
  }
}
