.patient-record {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  &__content {
    width: 100%;
    flex: 1;
    overflow: hidden;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: flex-start;
    box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
    border-radius: 6px;
  }
  &__actions {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    width: 100%;
    padding: 0 0 0.5rem;
  }
  &__btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    .MuiFormControlLabel-root.MuiFormControlLabel-labelPlacementStart.css-1f2kvjf-MuiFormControlLabel-root {
      margin: 0;
    }
    .MuiFormControlLabel-label {
      font-size: $size-sm;
    }
  }
  &__menu {
    display: flex;
    flex-direction: column;
    border-top: solid 0.5px $grey;
    border-bottom: solid 0.5px $grey;
    background-color: $white;
    height: 100%;
    overflow-y: scroll;
  }
}
.patient-record-mobile {
  &__header {
    padding: 0.5rem;
    background-color: $blue;
    border-radius: 6px 6px 0 0;
    font-weight: bold;
    &-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .MuiFormControlLabel-label {
        font-size: $size-sm;
        font-family: $font1;
      }
      .MuiFormControlLabel-root.MuiFormControlLabel-labelPlacementStart.css-1f2kvjf-MuiFormControlLabel-root {
        margin: 0;
      }
    }
    &-btns {
      display: flex;
      gap: 0.25rem;
      align-items: center;
      justify-content: flex-end;
      min-width: 190px;
    }
  }
  &__content {
    flex: 1;
    position: relative;
    border-radius: 0 0 6px 6px;
    overflow-y: scroll;
    padding-bottom: 0.5rem;
  }
  &__topics {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    z-index: 1000;
    &-btns {
      position: sticky;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $white;
      padding: 0.25rem;
    }
  }
}
