.personalhistory {
  display: flex;
  flex-direction: column;
  height: 90%;
  padding-bottom: 0.5rem;
  gap: 1rem;
  margin-top: 50px;
  overflow-y: scroll;
}
.personalhistory-card {
  width: 95%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 6px;
  box-shadow: $box-shadow-default;
  &__header {
    display: flex;
    align-items: center;
    background-color: $blue;
    border-radius: 6px 6px 0 0;
    padding: 0.5rem;
    h1 {
      font-size: $size-xl;
      font-weight: bold;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }
  &__row {
    display: flex;
    flex-direction: column;
    label {
      font-size: $size-base;
      font-weight: bold;
      margin-bottom: 0.25rem;
    }
    input {
      width: 100%;
      font-size: $size-base;
    }
    p {
      font-size: $size-base;
    }
  }
  &__btns {
    display: flex;
    justify-content: center;
    gap: 0.25rem;
    button {
      font-size: $size-xs;
    }
  }
  &__sign {
    padding: 0.5rem;
    text-align: right;
    font-size: $size-xxs;
  }
}

@media (min-width: 1024px) {
  .personalhistory-card {
    &__row {
      label {
        font-size: $size-sm;
      }
      input {
        font-size: $size-sm;
      }
      p {
        font-size: $size-sm;
      }
    }
    &__btns {
      button {
        font-size: $size-sm;
      }
    }
  }
}
