.personalhistory-card {
  font-size: 0.8rem;
  width: 95%;
  margin: 60px auto;
  border-radius: 6px;
  box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
  &__header {
    display: flex;
    justify-content: space-between;
    background-color: $blue;
    border-radius: 6px 6px 0 0;
    padding: 10px;
    align-items: center;
    h1 {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
  &__btns {
    text-align: center;
    margin-top: 20px;
    button {
      margin-left: 5px;
    }
  }
  &__sign {
    padding: 5px;
    text-align: right;
    font-size: 0.6rem;
    margin-bottom: 10px;
  }
}
.personalhistory-form {
  height: 300px;
  margin: 20px auto;
  width: 90%;
  &__row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    p {
      padding: 0;
    }
  }
  label {
    font-weight: bold;
    display: inline-block;
    min-width: 150px;
  }
  input {
    width: 300px;
  }
  &__btns {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    button {
      margin-right: 10px;
    }
  }
  &__err {
    padding: 10px 20px;
    font-size: 0.9rem;
    width: 100%;
    margin: 0 auto 10px;
    color: red;
    background-color: rgba(255, 0, 0, 0.403);
    border-radius: 6px;
    text-align: center;
  }
}
