.pharmacies {
  display: flex;
  flex-direction: column;
  height: 92%;
  margin-top: 50px;
  padding-bottom: 0.5rem;
  gap: 1rem;
  overflow: hidden;
  &__title {
    font-size: $size-xl;
    text-align: center;
  }
  .pharmacies__card {
    max-width: 100%;
    margin: 0 auto;
    border: solid 1px $grey;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    box-shadow: $box-shadow-default;
    &-row {
      display: flex;
      align-items: center;
      margin: 5px auto;
      label {
        font-weight: bold;
        min-width: 120px;
      }
      p {
        flex: 1;
        word-break: break-all;
      }
    }
  }
  &__btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
  }
  .pharmacies-list {
    &__title {
      margin-top: 1rem;
      font-size: 0.9rem;
      font-weight: bold;
      button {
        margin-left: 0.5rem;
      }
    }
    &__table-container {
      flex: 1;
      overflow: scroll;
      border-radius: 6px;
      box-shadow: $box-shadow-default;
    }
    &__table {
      table-layout: fixed;
      min-width: 100%;
      border-collapse: collapse;
      font-size: $size-xs;
      thead {
        position: sticky;
        top: 0;
        background: $blue;
        border-radius: 6px;
      }
      th {
        min-width: 120px;
        padding: 0.5rem;
        cursor: pointer;
        &:nth-child(6) {
          min-width: 200px;
        }
      }
    }
    &__item,
    &__form {
      border-bottom: solid 1px $grey;
      td {
        text-align: center;
        padding: 10px;
        word-break: break-word;
        input,
        select {
          width: 100%;
          font-size: $size-base;
        }
        input[type="submit"] {
          width: auto;
        }
      }
      .postalzip-select-input {
        display: flex;
        gap: 0.5rem;
        width: 100%;
        select {
          width: 45%;
        }
        input {
          flex: 1;
        }
      }
      &-btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.25rem;
        button {
          font-size: $size-xs;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .pharmacies {
    .pharmacies-list {
      &__table {
        font-size: $size-sm;
      }
      &__item,
      &__form {
        td {
          input,
          select {
            font-size: $size-sm;
          }
        }
        &-btn-container {
          button {
            font-size: $size-sm;
          }
        }
      }
    }
  }
}
