.pharmacies {
  &__title {
    font-size: 1.2rem;
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
  }
  &__err {
    padding: 10px 20px;
    font-size: 0.9rem;
    width: 50%;
    margin: 10px auto;
    color: red;
    background-color: rgba(255, 0, 0, 0.403);
    border-radius: 6px;
    text-align: center;
  }
  &__table {
    table-layout: fixed;
    min-width: 100%;
    border-collapse: collapse;
    font-size: 0.8rem;
    thead {
      background-color: $blue;
      border: solid 1px $black;
      th {
        min-width: 120px;
        padding: 2px 5px;
        border: solid 1px $black;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  &__form {
    border-bottom: solid 1px $grey;
    td {
      text-align: center;
      padding: 10px;
      word-break: break-word;
      input,
      select {
        width: 100%;
      }
      input[type="submit"] {
        width: auto;
      }
    }
    .td--postal {
      input,
      select {
        width: 50%;
      }
    }
  }
  &__item-btn-container,
  &__form-btn-container {
    display: flex;
    button {
      margin-left: 5px;
    }
  }
  &__btn-container {
    text-align: center;
    margin-top: 20px;
    button {
      margin-left: 5px;
    }
  }
}
.pharmacies-list {
  &__err {
    padding: 10px 20px;
    font-size: 0.9rem;
    width: 70%;
    margin: 10px auto;
    color: red;
    background-color: rgba(255, 0, 0, 0.403);
    border-radius: 6px;
    text-align: center;
  }
  &__title {
    margin: 40px 0 20px;
    font-size: 0.9rem;
    font-weight: bold;
    button {
      margin-left: 20px;
    }
  }
  &__table-container {
    height: 400px;
    overflow: scroll;
    border-radius: 6px;
    box-shadow: $box-shadow-default;
  }
  &__table {
    table-layout: fixed;
    min-width: 100%;
    border-collapse: collapse;
    font-size: 0.8rem;
    thead {
      position: sticky;
      top: 0;
      background: $blue;
      border-radius: 6px;
    }
    th {
      min-width: 120px;
      padding: 10px;
      cursor: pointer;
      &:nth-child(6) {
        min-width: 160px;
      }
    }
  }
  &__item {
    border-bottom: solid 1px $grey;
    td {
      text-align: center;
      padding: 10px;
      word-break: break-word;
      input,
      select {
        width: 100%;
      }
      input[type="submit"] {
        width: auto;
      }
    }
    .td--postal {
      input,
      select {
        width: 50%;
      }
    }
  }
}

.pharmacies__card {
  width: 30%;
  margin: 0 auto;
  // border: solid 1px $grey;
  border-radius: 6px;
  padding: 10px 20px;
  box-shadow: $box-shadow-default;
  &-row {
    display: flex;
    align-items: center;
    margin: 5px auto;
  }
  label {
    font-weight: bold;
    min-width: 120px;
  }
}
