.prescription {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
  overflow: hidden;
  padding: 0.5rem;
  &__actions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    row-gap: 0.5rem;
  }
  &__form {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 1rem;
    overflow-y: scroll;
    gap: 1rem;
    &--preview {
      margin-top: 40px;
    }
  }
  &__item {
    padding: 10px 0;
    &-textarea {
      width: 100%;
      height: auto;
      white-space: pre-wrap;
    }
  }
  &__page {
    border: solid 1px $grey;
    border-radius: 6px;
    width: 22cm;
    height: 28cm;
    padding: 50px 60px;
    display: flex;
    flex-direction: column;
    &--preview {
      margin: 0 auto;
    }
  }
  &__medications {
    flex: 1;
    height: 100%;
    .medications-form {
      margin-top: 0;
      height: 100%;
    }
  }
  &__header {
    display: flex;
    height: 20%;
    justify-content: space-between;
  }
  &__logo {
    width: 20%;
    padding: 5px 10px;
    img {
      width: 100%;
    }
  }
  &__doctor-infos {
    font-size: 0.85rem;
    width: 50%;
    padding: 5px 10px;
  }
  &__subheader {
    display: flex;
    flex-direction: column;
    height: 10%;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__date {
    font-size: 0.85rem;
    margin-left: auto;
    text-align: end;
  }
  &__patient-infos {
    font-size: 0.85rem;
    padding: 5px 10px;
  }
  &__body {
    height: 63%;
    &-title {
      font-weight: bold;
      font-size: $size-xl;
      text-align: center;
      margin: 20px 0;
    }
    &-content {
      overflow-y: scroll;
      margin-top: 40px;
      padding: 0 20px;
      font-size: 0.8rem;
      white-space: pre-wrap;
      height: 500px;
      border: solid 1px $grey;
      border-radius: 6px;
      &-textarea {
        width: 100%;
        min-height: 200px;
        margin-top: 10px;
        border: solid 1px $grey;
        border-radius: 6px;
        outline: none;
        font-size: 0.85rem;
        &:focus {
          outline: none;
        }
      }
      &--preview {
        border: none;
      }
    }
  }
  &__footer {
    height: 2%;
  }
  &__id {
    font-size: 0.7em;
    font-style: italic;
    text-align: end;
    padding-left: 0;
    padding-right: 0;
  }
  &__sign {
    height: 5%;
    display: flex;
    justify-content: flex-end;
    font-size: 0.8rem;
    &-image {
      img {
        height: 100%;
      }
    }
  }
  &__preview {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1rem;
    overflow: hidden;
    padding: 0.5rem;
    &-pages {
      height: 680px;
      overflow-y: scroll;
    }
    &-options {
      display: flex;
      justify-content: center;
      gap: 0.25rem;
      align-items: center;
    }
  }
}
