.refohip__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  gap: 1rem;
  .refohip__search {
    input {
      font-size: $size-base;
      width: 100%;
    }
  }
  .refohip__results {
    flex: 1;
    max-height: 45%;
    display: flex;
    flex-direction: column;
    .refohip__results-title {
      font-size: $size-base;
      font-weight: bold;
      margin-bottom: 0.25rem;
    }
    ul {
      flex: 1;
      overflow-y: scroll;
      border: solid 0.5px $grey;
      border-radius: 6px;
      padding-bottom: 0.5rem;
      .refohip__results-item {
        font-size: $size-xs;
        padding: 0.5rem;
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        border-bottom: solid 0.5px $grey;
        &:hover {
          text-decoration: underline;
        }
        &--headers {
          font-size: $size-sm;
          position: sticky;
          top: 0;
          background-color: $blue;
          border-bottom: none;
          .refohip__results-code {
            font-weight: bold;
            width: 40%;
            text-align: center;
          }
          .refohip__results-name {
            width: 60%;
            text-align: center;
          }
        }
        .refohip__results-code {
          font-weight: bold;
          width: 40%;
          text-align: center;
        }
        .refohip__results-name {
          width: 60%;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .refohip__container {
    .refohip__search {
      input {
        font-size: $size-sm;
      }
    }
    .refohip__results {
      ul {
        .refohip__results-item {
          font-size: $size-sm;
        }
      }
    }
  }
}
