.reference-links {
  border: solid 1px $grey;
  box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
  background: #fefefe;
  border-radius: 6px;
  padding: 20px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-bottom: 10px;
  h3 {
    margin-bottom: 10px;
    font-size: 1rem;
  }
  ul {
    font-size: 0.9rem;
    margin-bottom: 10px;
  }
  li {
    font-style: 0.85rem;
    margin-left: 20px;
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__personal-title {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    h3 {
      margin: 0;
      margin-right: 10px;
    }
  }
  &__personal-search {
    margin-bottom: 10px;
    label {
      font-weight: bold;
      margin-right: 10px;
      font-size: 0.85rem;
    }
    input {
      width: 350px;
    }
  }
  &__personal-links {
    overflow-y: scroll;
    height: 420px;
    padding: 10px 0;
    border-radius: 6px;
    border: solid 1px $grey;
    box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
  }
  &__form {
    border: solid 1px $grey;
    border-radius: 6px;
    box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
    padding: 10px 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &--edit {
      width: 95%;
    }
  }
  &__form-err {
    padding: 10px 20px;
    font-size: 0.9rem;
    width: 100%;
    margin: 0 auto 10px;
    color: red;
    background-color: rgba(255, 0, 0, 0.403);
    border-radius: 6px;
    text-align: center;
  }
  &__form-row {
    font-size: 0.85rem;
    margin-bottom: 10px;
    display: flex;
    width: 100%;
    align-items: center;
    label {
      display: inline-block;
      width: 15%;
      margin-right: 10px;
      font-weight: bold;
    }
    input {
      width: 80%;
    }
  }
  &__form-btns {
    text-align: center;
    button {
      margin-left: 5px;
    }
  }
}

.reference-edocs {
  border: solid 1px $grey;
  box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
  background: #fefefe;
  border-radius: 6px;
  padding: 20px;
  margin-bottom: 10px;
  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    h3 {
      font-size: 1rem;
    }
    button {
      margin-left: 10px;
    }
  }
  &__search {
    margin: 20px 0 10px;
    label {
      font-size: 0.85rem;
      margin-right: 10px;
      font-weight: bold;
    }
  }
  &__err {
    padding: 10px 20px;
    font-size: 0.9rem;
    width: 100%;
    margin: 10px auto;
    color: red;
    background-color: rgba(255, 0, 0, 0.403);
    border-radius: 6px;
    text-align: center;
  }
  &__table-container {
    height: 400px;
    overflow: scroll;
    border-radius: 6px;
    box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
    position: relative;
  }
  &__table {
    table-layout: fixed;
    min-width: 100%;
    border-collapse: collapse;
    font-size: 0.8rem;
    thead {
      position: sticky;
      top: 0;
      background: $blue;
      border-radius: 6px;
    }
    th {
      min-width: 120px;
      padding: 10px;
      cursor: pointer;
    }
  }
  &__item {
    border-bottom: solid 1px $grey;
    td {
      text-align: center;
      padding: 10px;
      word-break: break-word;
      input {
        width: 100%;
      }
    }
  }
  &__item-btn-container {
    display: flex;
    justify-content: center;
    button {
      margin-left: 5px;
    }
  }
  &__item-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
  &__form {
    font-size: 0.8rem;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    width: 100%;
    &-btn-container {
      text-align: center;
      margin-bottom: 20px;
      button {
        margin-left: 5px;
      }
    }
  }
  &__row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 0;
    label {
      width: 20%;
      font-weight: bold;
    }
    input {
      width: 70%;
    }
    input[type="submit"] {
      width: auto;
    }
    &--text {
      align-items: flex-start;
      textarea {
        width: 70%;
        height: 200px;
      }
    }
  }
  &__content {
    width: 49%;
  }
  &__preview {
    width: 49%;
  }
}
