.relationships {
  &__title {
    font-size: 1.2rem;
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
  }
  &__err {
    padding: 10px 20px;
    font-size: 0.9rem;
    width: 100%;
    margin: 10px auto;
    color: red;
    background-color: rgba(255, 0, 0, 0.403);
    border-radius: 6px;
    text-align: center;
  }
  &__table-container {
    height: 400px;
    overflow: scroll;
    border-radius: 6px;
    box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
  }
  &__table {
    table-layout: fixed;
    min-width: 100%;
    border-collapse: collapse;
    font-size: 0.8rem;
    thead {
      position: sticky;
      top: 0;
      background: $blue;
      border-radius: 6px;
    }
    th {
      min-width: 120px;
      padding: 10px;
      cursor: pointer;
    }
  }
  &__btn-container {
    text-align: center;
    margin-top: 20px;
    button {
      margin-left: 5px;
    }
  }
}
.relationships-item,
.relationships-form {
  border-bottom: solid 1px $grey;
  td {
    text-align: center;
    padding: 10px;
    word-break: break-word;
    input[type="text"] {
      width: 100%;
      padding-right: 20px;
    }
    input[type="submit"] {
      width: auto;
    }
    .rw-combobox {
      width: 87%;
    }
    .rw-widget-picker .rw-widget-container {
      width: 100%;
    }
  }
  &__relationship {
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      margin-left: 10px;
    }
  }
  &__btn-container {
    display: flex;
    justify-content: center;
    button {
      margin-left: 5px;
    }
  }
}
