.reportsinbox {
  &__err {
    padding: 10px 20px;
    font-size: 0.9rem;
    width: 100%;
    margin: 10px auto;
    color: red;
    background-color: rgba(255, 0, 0, 0.403);
    border-radius: 6px;
    text-align: center;
  }
  &__lablinks {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    font-size: 0.85rem;
    margin-bottom: 10px;
    padding-left: 20px;
  }
  &__subtitle {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 20px;
  }
  &__noinbox {
    font-weight: bold;
    text-align: center;
  }
  &__instructions {
    width: 95%;
    margin: 20px auto;
    font-weight: bold;
    font-size: 1rem;
    padding: 0;
  }
  &__table-container {
    width: 98%;
    height: 91%;
    overflow: scroll;
    border-radius: 6px;
    box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
    margin: 0 auto;
  }
  &__table {
    table-layout: fixed;
    min-width: 100%;
    border-collapse: collapse;
    font-size: 0.8rem;
    thead {
      position: sticky;
      top: 0;
      background: $blue;
      border-radius: 6px;
    }
    th {
      min-width: 120px;
      padding: 10px;
      cursor: pointer;
    }
    &-nofilter {
      text-decoration: none;
      cursor: default;
    }
  }
  &__btn-container {
    display: flex;
    justify-content: center;
    width: 25%;
    margin: 20px auto 0;
  }
  &__form {
    background-color: $white;
    border: solid 1px $grey;
    border-radius: 6px;
    box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
    font-size: 0.8rem;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 40px auto 20px;
    button {
      margin-left: 5px;
    }
    .patient-search {
      font-size: 0.8rem;
      &__form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto 40px;
      }
      &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: auto;
        margin-bottom: 5px;
        label {
          font-weight: bold;
          margin-bottom: 5px;
        }
        input {
          padding: 2px 5px;
        }
      }
    }
  }
  &__form-preview,
  &__form-content {
    width: 45%;
  }
  &__form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    label {
      width: 120px;
      font-weight: bold;
    }
    input,
    input[type="date"],
    select {
      width: 150px;
    }
    input[type="submit"] {
      width: auto;
    }
    &--patients {
      align-items: flex-start;
    }
    &--text {
      align-items: flex-start;
      textarea {
        width: 400px;
        height: 200px;
      }
    }
    &--btns {
      justify-content: center;
      margin-bottom: 15px;
      button {
        margin-left: 5px;
      }
    }
  }
  &__patients {
    width: 70%;
    display: flex;
    flex-direction: column;
    input[type="text"] {
      margin-bottom: 10px;
    }
  }
  &__patients-list {
    height: 300px;
    overflow: scroll;
    border: 1px solid $grey;
    border-radius: 6px;
    padding: 10px;
    width: 80%;
    label {
      width: 100%;
      font-weight: normal;
    }
    input {
      width: 100%;
    }
  }
  &__patients-list-item {
    display: flex;
    align-items: center;
    input[type="checkbox"] {
      margin-right: 5px;
      width: auto;
    }
  }
  &__patient-item {
    td {
      text-align: center;
      border: solid 1px $black;
      padding: 2px 5px;
      word-wrap: break-word;
      max-width: 370px;
    }
    &-link {
      cursor: pointer;
      color: $darkblue;
      text-decoration: underline;
    }
  }
}
.practicians-forward {
  background: $white;
  width: 100%;
  margin: 30px auto 0;
  padding: 10px;
  &__btn {
    button {
      margin-left: 10px;
    }
  }
  &__title {
    font-size: 0.9rem;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  &__list {
    margin-top: 10px;
    font-size: 0.85rem;
    border: solid 0.5px $grey;
    border-radius: 6px;
    overflow-y: scroll;
    height: 400px;
  }
  &__list-item {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    input[type="checkbox"] {
      margin-right: 5px;
    }
  }
  &__category-overview {
    margin-top: 10px;
    margin-left: 10px;
    i {
      margin-right: 5px;
    }
  }
  &__category-list {
    margin-top: 5px;
    margin-left: 25px;
  }
}
.practicians {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  &__btn {
    width: 100%;
    text-align: end;
    button {
      margin-left: 10px;
    }
  }
  &__title {
    font-size: 0.8rem;
    font-weight: bold;
    width: 30%;
  }
  &__list {
    border: solid 1px $grey;
    border-radius: 6px;
    width: 70%;
    padding: 5px 10px;
    font-size: 0.85rem;
  }
  &__list-item {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    justify-content: flex-start;
    input[type="checkbox"] {
      margin-right: 5px;
      width: auto;
    }
    label {
      font-size: 0.75rem;
      font-weight: normal;
    }
  }
  &__category-overview {
    i {
      margin-right: 5px;
    }
  }
  &__category-list {
    margin-top: 10px;
    margin-left: 25px;
  }
}
