.reset-container {
  padding: 20px;
  width: 40%;
  margin: 0 auto 0;
  border-radius: 6px;
  box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
  background: $white;
  &-title {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2rem;
  }
  &-err {
    padding: 10px 20px;
    font-size: 0.9rem;
    width: 100%;
    margin: 0 auto 10px;
    color: red;
    background-color: rgba(255, 0, 0, 0.403);
    border-radius: 6px;
    text-align: center;
  }
  &-success {
    padding: 10px 20px;
    width: 100%;
    font-size: 0.9rem;
    margin: 0 auto 10px;
    border-radius: 6px;
    text-align: center;
    color: forestgreen;
    background-color: rgba(34, 139, 34, 0.4);
  }
  .email-form-row-radio {
    display: flex;
    justify-content: space-between;
    width: 45%;
    font-size: 0.85rem;
    margin: 0 auto 30px;
    &-item {
      display: flex;
      align-items: center;
      label {
        font-weight: bold;
      }
      input[type="radio"] {
        margin-right: 5px;
      }
    }
  }
  .email-form-row {
    font-size: 0.85rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    label {
      font-weight: bold;
    }
    input[type="email"] {
      width: 200px;
    }
  }
  .temp-password-form {
    p {
      padding: 0;
      font-size: 0.85rem;
      margin-bottom: 20px;
      text-align: center;
      width: 100%;
    }
    &-row {
      display: flex;
      justify-content: space-between;
      width: 70%;
      margin: 0 auto;
      input[type="password"] {
        width: 250px;
      }
      &-btns {
        display: flex;
        justify-content: flex-start;
      }
    }
  }
  .reset-password-form {
    font-size: 0.85rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &-row {
      width: 70%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      align-items: center;
      label {
        font-weight: bold;
        width: 45%;
      }
      input {
        width: 55%;
      }
      ul {
        width: 55%;
        margin-left: auto;
        li {
          font-size: 0.7rem;
        }
      }
    }
    &-row-btn {
      width: 100%;
      text-align: center;
      margin-top: 20px;
    }
  }
}
