.signup-staff {
  &__success {
    padding: 10px 20px;
    width: 80%;
    font-size: 0.9rem;
    margin: 10px auto;
    border-radius: 6px;
    text-align: center;
    color: forestgreen;
    background-color: rgba(34, 139, 34, 0.4);
  }
  &__err {
    padding: 10px 20px;
    font-size: 0.9rem;
    width: 80%;
    margin: 10px auto;
    color: red;
    background-color: rgba(255, 0, 0, 0.403);
    border-radius: 6px;
    text-align: center;
  }
  &__container {
    padding: 20px;
    width: 95%;
    margin: 50px auto 0;
    box-shadow: $box-shadow-default;
    border: solid 1px $grey;
    border-radius: 6px;
    background: $white;
  }
  &__form {
    display: flex;
    justify-content: space-between;
  }
  &__column {
    width: 45%;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    label {
      font-size: 0.85rem;
      font-weight: bold;
      width: 45%;
    }
    input {
      width: 55%;
    }
    input[type="file"] {
      width: 55%;
      padding: 0;
      &::-webkit-file-upload-button {
        cursor: pointer;
      }
    }
    select {
      width: 55%;
    }
    ul {
      width: 55%;
      margin-left: auto;
      li {
        font-size: 0.7rem;
      }
    }
  }
  &__submit {
    text-align: center;
    margin-top: 20px;
    button {
      margin-right: 5px;
    }
  }
  &__image {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    overflow: hidden;
    input[type="file"] {
      width: 100%;
      padding: 0;
      &::-webkit-file-upload-button {
        cursor: pointer;
      }
    }
  }
}
