.signup-patient {
  &__success {
    padding: 10px 20px;
    width: 50%;
    font-size: 0.9rem;
    margin: 0 auto 10px;
    border-radius: 6px;
    text-align: center;
    color: forestgreen;
    background-color: rgba(34, 139, 34, 0.4);
  }
  &__err {
    padding: 10px 20px;
    font-size: 0.9rem;
    width: 50%;
    margin: 0 auto 10px;
    color: red;
    background-color: rgba(255, 0, 0, 0.403);
    border-radius: 6px;
    text-align: center;
  }
  &__container {
    padding: 20px;
    width: 70%;
    box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
    border-radius: 6px;
    background: $white;
  }
  &__form {
    display: flex;
    justify-content: space-between;
  }
  &__column {
    width: 45%;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
    &--avatar {
      align-items: start;
      img {
        margin-bottom: 5px;
      }
    }
    &-relationship {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      align-items: center;
      select {
        width: 40% !important;
      }
      &-name {
        width: 40%;
      }
    }
    label {
      width: 45%;
      font-size: 0.85rem;
      font-weight: bold;
    }
    input {
      width: 55%;
    }
    input[type="file"] {
      width: 100%;
      padding: 0;
      &::-webkit-file-upload-button {
        cursor: pointer;
      }
    }
    select {
      width: 55%;
    }
    ul {
      width: 55%;
      margin-left: auto;
      li {
        font-size: 0.7rem;
      }
    }
  }

  &__submit {
    text-align: center;
    margin-top: 20px;
  }
  &__image {
    display: flex;
    flex-direction: column;
    width: 55%;
    &-preview {
      display: flex;
      align-items: flex-end;
      margin-bottom: 10px;
    }
    &-preview-square {
      width: 100px;
      height: 100px;
      border-radius: 6px;
      margin-right: 15px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    input[type="file"] {
      &::-webkit-file-upload-button {
        cursor: pointer;
      }
    }
  }
}
