.staff-account {
  &__container {
    box-shadow: #959da533 0px 8px 24px;
    border: solid 1px $grey;
    border-radius: 6px;
    background: $white;
    padding: 20px;
    width: 95%;
    margin: 70px auto 0;
  }
  &__success {
    padding: 10px 20px;
    width: 100%;
    font-size: 0.9rem;
    margin: 0 auto;
    border-radius: 6px;
    text-align: center;
    color: forestgreen;
    background-color: rgba(34, 139, 34, 0.4);
    margin-bottom: 10px;
  }
  &__btns {
    text-align: center;
    margin-top: 20px;
    button {
      margin-left: 5px;
    }
  }
  &__form {
    font-size: 0.85rem;
    display: flex;
    justify-content: space-between;
  }
  &__column {
    width: 45%;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    label {
      font-size: 0.85rem;
      font-weight: bold;
      min-width: 170px;
    }
    input {
      width: 100%;
    }
    select {
      width: 100%;
    }
    &-row-submit {
      text-align: end;
      margin-top: 20px;
      input[type="submit"] {
        width: 100px;
      }
    }
  }
  &__image {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    overflow: hidden;
    input[type="file"] {
      width: 100%;
      padding: 0;
      &::-webkit-file-upload-button {
        cursor: pointer;
      }
    }
  }
}
