.subheader {
  position: sticky;
  top: 55px;
  width: 100%;
  z-index: 100;
  padding: 10px 0.935rem;
  box-shadow: $box-shadow-default;
  background: rgb(243, 243, 243);
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  &__left {
    display: none;
  }
  &__clinic {
    font-weight: normal;
    font-size: 0.8rem;
    margin-right: 5px;
  }
  &__weather {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    &-logo {
      width: 25px;
      height: 25px;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
  &__title {
    font-size: $size-base;
    text-align: center;
    font-weight: bold;
    text-align: center;
  }
  &__right {
    display: none;
  }
}

@media (min-width: 1024px) {
  .subheader {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    align-items: center;
    justify-content: space-between;
  }
  .subheader__left {
    display: flex;
    align-items: center;
    font-size: $size-sm;
  }
  .subheader__right {
    display: block;
    font-size: $size-sm;
    font-style: italic;
    text-align: end;
    padding: 0;
  }
  .subheader__title {
    font-size: $size-lg;
  }
}
