.unlock-form {
  width: 30%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 6px;
  box-shadow: rgba(149, 157, 165, 0.8) 0px 3px 4px;
  background: $white;
  font-size: 0.9rem;
  &__message {
    margin-bottom: 20px;
    text-align: center;
  }
  &__input {
    margin: 0 auto;
    text-align: center;
    input {
      margin-right: 10px;
    }
  }
  &__err {
    padding: 10px 20px;
    font-size: 0.9rem;
    width: 100%;
    margin: 10px auto;
    color: red;
    background-color: rgba(255, 0, 0, 0.403);
    border-radius: 6px;
    text-align: center;
  }
}
