.webcam {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95%;
  width: 100%;
  gap: 1rem;
  &__image {
    border-radius: 6px;
    overflow: hidden;
    img {
      display: block;
    }
    video {
      display: block;
    }
  }
  &__btn-container {
    button {
      margin-right: 5px;
    }
  }
}
