//COLORS
$white: #fefefe;
$black: #3d375a;
$grey: #efeff1;
$grey2: #cecdcd;
$blue: #8fb4fb;
$darkblue: #327ae6;
$orange: #e6aa32;
$green: #5ebac7;
$pink: #f53f77;
$pink2: #ea3a6f;

//SHADOWS
$box-shadow-default: rgba(149, 157, 165, 0.8) 0px 3px 4px;

//SIZES
$size-xxs: 0.5rem;
$size-xs: 0.7rem;
$size-sm: 0.85rem;
$size-base: 1rem;
$size-lg: 1.125rem;
$size-xl: 1.25rem;
$size-2xl: 1.5rem;
$size-3xl: 1.875rem;
$size-4xl: 2.25rem;
$size-5xl: 3rem;
$size-6xl: 3.75rem;
$size-7xl: 4.5rem;
$size-8xl: 6rem;
$size-9xl: 8rem;
$size-10xl: 10rem;

//FONTS
@font-face {
  font-family: "Lato";
  src: url(../assets/fonts/Lato-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Lato";
  src: url(../assets/fonts/Lato-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Lato";
  src: url(../assets/fonts/Lato-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url(../assets/fonts/Lato-Italic.ttf);
  font-style: italic;
}

$font1: Lato, sans-serif;

//TAGS
* {
  margin: 0;
  padding: 0;
}
embed,
iframe {
  width: 100%;
  height: 100%;
}

html {
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  height: 100%;
  width: 100%;
}

body {
  font-family: $font1;
  color: $black;
  height: 100%;
  width: 100%;
  overscroll-behavior: none;
}

img,
picture,
video,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $black;
}

textarea {
  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: 3px;
  outline: solid 1px $grey2;
  resize: none;
  font-size: $size-sm;
  color: $black;
  &:focus {
    outline: solid 2px $blue;
  }
  &::placeholder {
    color: $grey2;
  }
}

input {
  padding: 0.5rem;
  border: none;
  border-radius: 3px;
  outline: solid 1px $grey2;
  font-size: $size-sm;
  color: $black;
  text-overflow: ellipsis;
  &:focus {
    outline: solid 2px $blue;
  }
  &:read-only {
    outline: none;
  }
  &::placeholder {
    color: $grey2;
  }
  &:disabled {
    color: $grey2;
  }
}

input[type="text"],
input[type="password"],
input[type="file"],
input[type="date"],
input[type="tel"],
input[type="email"],
select {
  width: 150px;
}
input[type="file"] {
  padding: 0;
}
input[type="checkbox"] {
  cursor: pointer;
}

select {
  cursor: pointer;
  padding: 0.5rem;
  border: none;
  border-radius: 3px;
  outline: solid 1px $grey2;
  font-size: $size-sm;
  &:focus {
    outline: solid 2px $blue;
  }
}

ul {
  padding: 0;
}

li {
  list-style: none;
}
select:disabled {
  z-index: -1;
}

.rw-input {
  padding: 0.5rem;
}
