// /*xs*/
// @media (min-width: 475px) {
// }
// /*sm*/
// @media (min-width: 640px) {
// }
// /*md*/
// @media (min-width: 768px) {
// }
// /*lg*/
// @media (min-width: 1024px) {
// }
// /*xl*/
// @media (min-width: 1280px) {
// }
// /*2xl*/
// @media (min-width: 1536px) {
// }

#root {
  height: 100%;
  width: 100%;
}
.btn {
  font-size: $size-sm;
  display: inline-block;
  text-decoration: none;
  background-color: $grey;
  color: $black;
  padding: 0.25rem 0.75rem;
  border-radius: 50px;
  box-shadow: $box-shadow-default;
  transition: transform 0.2s;
  border: none;
  outline: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  &:hover {
    background: $grey2;
  }
  &:disabled {
    opacity: 0.2;
    cursor: default;
  }
  &:active {
    transform: translateY(1px);
  }
}
.save-btn {
  background: $pink;
  color: $white;
  &:hover {
    background: $pink2;
  }
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: $white;
}
.container-login {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.wrapper-login {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  // background: url("@/assets/img/splashscreen.png") center/cover;
  background: $white;
  overflow: hidden;
}
.main-login {
  flex: 1;
  background-color: $white;
}
.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1;
  overflow-y: scroll;
  background-color: $white;
}

.icon {
  &:hover {
    opacity: 0.85;
  }
}

// /*xs (tablets start)*/
// @media (min-width: 475px) {
//   .container,
//   .container-login {
//     max-width: 475px;
//   }
// }
// /*sm*/
// @media (min-width: 640px) {
//   .container,
//   .container-login {
//     max-width: 640px;
//   }
// }
// /*md*/
// @media (min-width: 768px) {
//   .container,
//   .container-login {
//     max-width: 768px;
//   }
// }
// /*lg*/
// @media (min-width: 1024px) {
//   .container,
//   .container-login {
//     max-width: 1024px;
//   }
// }
// /*xl*/
// @media (min-width: 1280px) {
//   .container,
//   .container-login {
//     max-width: 1280px;
//   }
// }
// /*2xl*/
// @media (min-width: 1536px) {
//   .container,
//   .container-login {
//     max-width: 1536px;
//   }
// }
